<div class="container-ausencia">
  <h2 style="margin-bottom: 20px;">Justificación de ausencia</h2>
  <form [formGroup]="formMotivo">
    <div style="display: flex;">
      <mat-form-field style="flex: 1;">
        <mat-label>Motivo de ausencia</mat-label>
        <textarea matInput formControlName="motivoAusencia"></textarea>
      </mat-form-field>
    </div>
  </form>
  <div style="display: flex; justify-content: end; gap: 10px">
    <button type="button" class="btnCerrar" (click)=" closeModal()">Cancelar</button>
    <button class="saveButton" (click)="saveChanges()">Guardar</button>
  </div>
</div>
