<h2 class="Stitle">Competencias</h2>
<div>
    <form style=" margin: 15px 0 35px 0" [formGroup]="competencyEvaluationForm" (ngSubmit)="saveChanges()">

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field><br>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
        </mat-form-field>

        <button type="submit" class="saveButton">Guardar cambios</button> &nbsp;
        <button type="button" class="cleanButton" (click)="competencyEvaluationForm.reset()"
            *ngIf="competencyEvaluationForm.value.idCompetencia">Limpiar edición</button>
    </form>

    <h3 class="Stitle">Listado de Competencias</h3>

    <div class="table-container">
        <table>
            <thead class="headerTable">
                <tr class="headerRow">
                    <th class="headerCell">Competencia</th>
                    <th class="headerCell">Descripción</th>
                    <th class="headerCell" style="width: 5%;"></th>
                    <th class="headerCell" style="width: 5%; padding-right: 15px;">
                        <div *ngIf="!competencies" class="loader"></div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="competencies.length > 0; else noElements">
                <tr class="dataRow" *ngFor="let competency of competencies">
                    <td class="dataIndiCell">{{competency.nombre}}</td>
                    <td class="dataIndiCell">{{competency.descripcion}}</td>
                    <td class="dataIndiCell"><mat-icon (click)="setValueToEdit(competency)"
                            class="editIcon">edit</mat-icon></td>
                    <td class="dataIndiCell"><mat-icon (click)="deleteCompetency(competency.idCompetencia)"
                            class="removeIcon">delete</mat-icon></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="paginatorRow">
                    <td class="dataIndiCell"></td>
                    <td class="dataIndiCell"></td>
                    <td class="dataIndiCell"></td>
                    <td class="dataIndiCell">
                        <span style="display: flex; align-items: center;">
                            <mat-icon class="">navigate_before</mat-icon>
                            <h5 style="margin: 0;"></h5>
                            <mat-icon class="">navigate_next</mat-icon>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell">No hay elementos que mostrar.</td>
            </tr>
        </tbody>
    </ng-template>
</div>