<div class="fuctionContent">
  <div class="title">
    <h1>Lista de Minutas</h1>
  </div>
  <!-- <div>
    <div>
      <button class="backButton" mat-stroked-button [routerLink]="['/layout/acuerdos']"><mat-icon
          class="backIcon">arrow_back
        </mat-icon>Acuerdos de Desempeño</button>
    </div>
  </div> -->
</div>

<div style="display: flex; justify-content: space-between;">
  <mat-form-field appearance="fill" style="width: 20%;">
    <mat-label>Tipos de Minuta</mat-label>
    <mat-select [(ngModel)]="typeMinuta" (selectionChange)="getMinutas('')">
      <mat-option value="">Todos</mat-option>
      <mat-option value="acuerdo">Minuta de Acuerdo de Desempeño</mat-option>
      <mat-option value="evaluacion">Minuta de Evaluación de Competencias</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="systemInformation.activeRol().nombre != 'supervisado'" appearance="fill" style="width: 300px;">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="searchTerm" (input)="Buscar()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<table>
  <thead class="headerTable">
    <tr class="headerRow">
      <th class="headerCell">Nombre</th>
      <th class="headerCell">Unidad organizativa</th>
      <th class="headerCell">Cargo</th>
      <th class="headerCell">Tipo de Minuta</th>
      <!-- <th class="headerCell">Nivel</th> -->
      <!-- <th class="headerCell">Proceso</th> -->
      <th class="headerCell">
        <div style="display: flex; justify-content: center;">
          G. Ocupacional
        </div>
      </th>
      <th class="headerCell">
        <div style="display: flex; justify-content: center;">
          Estado
        </div>
      </th>
      <th class="headerCell" style="width: 5%;">
        <div *ngIf="!minutaList || charge" class="loader"></div>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="minutaList && minutaList.length > 0; else noElements">

    <tr class="dataRow" *ngFor="let minuta of minutaList">
      <td class="dataIndiCell">{{minuta.supervisorIntranet!.nombre | titlecase }} {{minuta.supervisorIntranet!.apellidos | titlecase }}</td>
      <td class="dataIndiCell">
        <ng-container *ngIf="appHelper.getUnitOrg(
              minuta.supervisorIntranet.division,
              minuta.supervisorIntranet.departamento,
              minuta.supervisorIntranet.direccion,
              minuta.supervisorIntranet.viceRectoria
            ).nombre !== 'Unidad organizativa no asignada'; else noUnidad">
          <span [matTooltip]="appHelper.getUnitOrg(
            minuta.supervisorIntranet.division,
            minuta.supervisorIntranet.departamento,
            minuta.supervisorIntranet.direccion,
            minuta.supervisorIntranet.viceRectoria
            ).nombre | titlecase">
            {{
            appHelper.getUnitOrg(
            minuta.supervisorIntranet.division,
            minuta.supervisorIntranet.departamento,
            minuta.supervisorIntranet.direccion,
            minuta.supervisorIntranet.viceRectoria
            ).nombre | titlecase
            }}
          </span>
        </ng-container>

        <ng-template #noUnidad>
          <span class="badge-red" matTooltip="Validar que el usuario tenga unidad organizativa asignada."> <mat-icon
              matSuffix style="margin-right: 5px;">warning</mat-icon> Unidad organizativa no encontrada.</span>
        </ng-template>
      </td>
      <td class="dataIndiCell" [matTooltip]="minuta.supervisorIntranet!.cargo.nombre">{{minuta.supervisorIntranet!.cargo.nombre}}</td>
      <td class="dataIndiCell" [matTooltip]="minuta.esUnaEvaluacionCompentencia ? 'Evaluación de competencia' : 'A.D. -' + minuta.periodoAcuerdo.tipoProceso.nombre ">{{minuta.esUnaEvaluacionCompentencia ? 'Evaluación de competencia' : 'A.D. -' + minuta.periodoAcuerdo.tipoProceso.nombre }}</td>
      <td class="dataIndiCell">
        <div style="display: flex; justify-content: center;">
          {{minuta.supervisorIntranet!.grupoObj.nombre}}
        </div>  
      </td>
      <td class="dataIndiCell">
        <div style="display: flex; justify-content: center;">
          <div class="tag" [ngClass]="{
              'pendiente': minuta.aprobada === null || (minuta.aprobada === true && minuta.documentos.length === 0),
              'aceptada': minuta.aprobada === true && minuta.documentos.length > 0,
              'rechazada': minuta.aprobada === false
            }">
            <h4>
              {{
                minuta.aprobada === null
                  ? 'Pendiente'
                  : (minuta.aprobada
                      ? (minuta.documentos.length === 0 ? 'Pendiente de documento' : 'Aceptada')
                      : 'Rechazada')
              }}
            </h4>
          </div>
        </div>
      </td>

      <td class="dataIndiCell">
        <mat-icon [matMenuTriggerFor]="menu" matTooltip="Listado de opciones.">more_vert</mat-icon>
        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="openModalTemplateMinuta(minuta.id)">
            <mat-icon>description</mat-icon>
            <h4>Ver Minuta</h4>
          </button>

          <button mat-menu-item *ngIf="minuta.documentos.length > 0"
            (click)="openModalListadoDocumentos(minuta.supervisorIntranet!.nombre, minuta.supervisorIntranet!.apellidos, minuta.supervisorIntranet!.idPersona, minuta.documentos)">
            <mat-icon>description</mat-icon>
            <h4>Ver Doc. Minuta</h4>
          </button>
          
          <div mat-menu-item (click)="postValidarMinuta(minuta.id, true)" *ngIf="minuta.aprobada == true && minuta.documentos.length > 0">
            <mat-icon style="color: green">check</mat-icon>
            <h4 style="color: green">Aceptar Documento Minuta</h4>
          </div>

          <div mat-menu-item (click)="postValidarMinuta(minuta.id, true)" *ngIf="minuta.aprobada == null ">
            <mat-icon style="color: green">check</mat-icon>
            <h4 style="color: green">Aceptar Minuta</h4>
          </div>

          <button mat-menu-item (click)="postValidarMinuta(minuta.id, false)" *ngIf=" minuta.aprobada == null ">
            <mat-icon style="color: orangered">close</mat-icon>
            <h4 style="color: orangered">Rechazar Minuta</h4>
          </button>

          <!-- <button mat-menu-item (click)="postValidarMinuta(minuta.id, false)" *ngIf=" minuta.aprobada == true && minuta.documentos.length > 0 ">
            <mat-icon style="color: orangered">close</mat-icon>
            <h4 style="color: orangered">Rechazar Documento Minuta</h4>
          </button> -->

          <button mat-menu-item class=" menuOptionsItemEliminar" (click)="deleteMinuta(minuta.id)">
            <mat-icon style="color: red;">delete</mat-icon>
            <h4 style="color: red;">Eliminar Minuta</h4>
          </button>

        </mat-menu>

      </td>
      <!-- <td class="dataIndiCell">{{minuta.periodoAcuerdo!.tipoProceso.nombre}}</td> -->
      <!-- <td class="dataIndiCell"><mat-icon matTooltip="Ver Documento de minuta." class="listIcon"
          (click)="openModalListadoDocumentos(minuta.supervisor!.nombre, minuta.supervisor!.apellidos, minuta.supervisor!.idPersona, minuta.documentos)">description</mat-icon>
      </td> -->
      <!-- <td class="dataIndiCell"><mat-icon matTooltip="Eliminar minuta." class="removeIcon"
          (click)="deletePeriod(minuta.id)">delete</mat-icon>
      </td> -->

    </tr>
  </tbody>

  <tfoot *ngIf="pagination && pagination.totalPage">
    <tr class="paginatorRow">
      <ng-container *ngFor="let td of [1, 2, 3, 4, 5]">
        <td class="dataIndiCell"></td>
      </ng-container>
      <td class="paginationCell"> <span style="color: #888;">{{pagination.totalItem}} Items</span></td>
      <td class="paginationCell">
        <span style="display: flex; align-items: center;" *ngIf="pagination.totalPage > 1">
          <mat-icon class="rowIcon" matTooltip="Pagina anterior." (click)="previousPage()">navigate_before</mat-icon>
          <h5 style="margin: 0;">{{page}} / {{pagination.totalPage}}</h5>
          <mat-icon class="rowIcon" matTooltip="Pagina siguiente." (click)="nextPage()">navigate_next</mat-icon>
        </span>
      </td>
    </tr>
  </tfoot>
  <ng-template #noElements>
    <tbody>
      <tr class="dataRow">
        <td class="dataIndiCell" *ngIf="minutaList && minutaList.length == 0; else searching">No hay elementos que
          mostrar.</td>
        <ng-template #searching>
          <td class="dataIndiCell">Buscando elementos.</td>
        </ng-template>
        <ng-container *ngFor="let td of [1, 2, 3, 4, 5, 6]">
          <td class="dataIndiCell"></td>
        </ng-container>
      </tr>
    </tbody>
  </ng-template>
</table>