<div class="fuctionContent">
  <div class="title">
    <h1>Lista de Minutas</h1>
  </div>
  <div>
    <div>
      <button class="backButton" mat-stroked-button [routerLink]="['/layout/acuerdos']"><mat-icon
          class="backIcon">arrow_back
        </mat-icon>Acuerdos de Desempeño</button>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: space-between;">
  <mat-form-field appearance="fill">
    <mat-label>Tipos de Minuta</mat-label>
    <mat-select [(ngModel)]="typeMinuta" (selectionChange)="getMinutas('')">
      <mat-option [value]="''">Todos</mat-option>
      <mat-option [value]="'acuerdo'">Minuta de Acuerdo de Desempeño</mat-option>
      <mat-option [value]="'evaluacion'">Minuta de Evaluación de Competencias</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="systemInformation.activeRol().nombre != 'supervisado'" appearance="fill" style="width: 300px;">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="searchTerm" (input)="Buscar()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<table>
  <thead class="headerTable">
    <tr class="headerRow">
      <th class="headerCell">Nombre</th>
      <th class="headerCell">Unidad organizativa</th>
      <th class="headerCell">Cargo</th>
      <th class="headerCell">Nivel</th>
      <th class="headerCell">Proceso</th>
      <th class="headerCell"></th>
      <th class="headerCell" style="width: 2%;">
        <div *ngIf="!minutaList" class="loader"></div>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="minutaList && minutaList.length > 0; else noElements">
    <tr class="dataRow" *ngFor="let minuta of minutaList">
      <td class="dataIndiCell">{{minuta.supervisor!.nombre}} {{minuta.supervisor!.apellidos}}</td>
      <td class="dataIndiCell">{{appHelper.getUnitOrg(minuta.supervisor!.division,
        minuta.supervisor!.departamento, minuta.supervisor!.direccion,
        minuta.supervisor!.viceRectoria)?.nombre}}</td>
      <td class="dataIndiCell">{{minuta.supervisor!.cargo.nombre}}</td>
      <td class="dataIndiCell">{{minuta.supervisor!.grupoObj.nombre}}</td>
      <td class="dataIndiCell">{{minuta.periodoAcuerdo!.tipoProceso.nombre}}</td>
      <td class="dataIndiCell">
        <mat-icon class="listIcon">description</mat-icon>
      </td>
      <td class="dataIndiCell"></td>
    </tr>
  </tbody>
  <ng-template #noElements>
    <tbody>
      <tr class="dataRow">
        <td class="dataIndiCell" *ngIf="minutaList && minutaList.length == 0; else searching">No hay elementos que mostrar.</td>
        <ng-template #searching>
          <td class="dataIndiCell">Buscando elementos.</td>
        </ng-template>
        <ng-container *ngFor="let td of [1, 2, 3, 4, 5, 6]">
          <td class="dataIndiCell"></td>
        </ng-container>
      </tr>
    </tbody>
  </ng-template>
</table>