<div style="display: flex; justify-content: space-between; align-items: center; width: auto; padding: 10px">
    <div style="margin-right: 18px;">
        <h3 style="color: white;">{{data.titleMessage}}</h3> <br>
        <h3 style="color: white;">{{data.successMessage}}</h3> 
    </div>
    <mat-icon style="width: 70px; color: #4CAF50 ; padding: 10pxa;">check</mat-icon>
</div>

<button (click)="closeSnackbar()" mat-stroked-button style="width: 100%; background-color: #004b8d; color: white; margin-top: 10px;" >
    Aceptar
</button>