
<h2 class="Stitle">Protocolos</h2>
<div>
    <form style=" margin: 15px 0 35px 0" [formGroup]="protocolForm" (ngSubmit)="saveChanges()">

        <div style="display: flex; gap:5px">
            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Protocolo</mat-label>
                <mat-select formControlName="idTipoProtocolo" disableRipple>
                    <ng-container *ngIf="typesProtocols && typesProtocols.length; else noTypesProtocol">
                        <mat-option [value]="typesProtocol.idTipoProtocolo" *ngFor="let typesProtocol of typesProtocols">
                            {{typesProtocol.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noTypesProtocol>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>

            <div class="file-upload-container" (click)="fileInput.click()">
                <label class="file-upload-label"><mat-icon style="color: #002c52">upload_file</mat-icon></label>
                <span class="file-upload-name">
                  {{ selectedFileName || 'Seleccione un archivo *' }}
                </span>
                <input
                  type="file"
                  #fileInput
                  (change)="onFileSelected($event)"
                  hidden
                />
              </div>
        </div>

        <button type="submit" class="saveButton">Guardar cambios</button> &nbsp;
        <button type="button" class="cleanButton" (click)="protocolForm.reset()" *ngIf="protocolForm.value.idProtocolo">Limpiar edición</button>

    </form>

    <h3 class="Stitle">Listado de protocolos</h3>

    <div class="table-container">
        <table>
            <thead class="headerTable">
                <tr class="headerRow">
                    <th class="headerCell">Protocolo</th>
                    <th class="headerCell">Documento</th>
                    <th class="headerCell" style="width: 5%;"></th>
                    <th class="headerCell" style="width: 7%; padding-right: 15px;">
                        <div class="loader" *ngIf="!protocols"></div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="protocols && protocols.length > 0; else noElements">
                <tr class="dataRow" *ngFor="let protocol of protocols">
                    <td class="dataIndiCell">{{protocol.tipoProtocoloObj.nombre}}</td>
                    <td class="dataIndiCell"><a matTooltip="Ver documento." target="_blank" [href]="protocol.documentosObj[0].enlace"><mat-icon class="listIcon">description</mat-icon></a> </td>
                    <td class="dataIndiCell"><mat-icon matTooltip="Editar protocolo." (click)="setValueToEdit(protocol)" class="editIcon">edit</mat-icon></td> 
                    <td class="dataIndiCell"><mat-icon matTooltip="Eliminar protocolo." (click)="deleteProtocol(protocol.idProtocolo)" class="removeIcon">delete</mat-icon></td>
                </tr>
            </tbody>
            <tfoot *ngIf="pagination && pagination.totalPage">
                <tr class="paginatorRow" >
                    <ng-container *ngFor="let td of [1, 2]">
                        <td class="dataIndiCell"></td>
                    </ng-container>
                    <td class="paginationCell"> <span style="color: #888;">{{pagination.totalItem}} Items</span></td>
                    <td class="paginationCell">
                        <span style="display: flex; align-items: center;"  *ngIf="pagination.totalPage > 1">
                            <mat-icon class="rowIcon"  matTooltip="Pagina anterior." (click)="previousPage()">navigate_before</mat-icon>
                            <h5 style="margin: 0;">{{page}} / {{pagination.totalPage}}</h5>
                            <mat-icon class="rowIcon" matTooltip="Pagina siguiente." (click)="nextPage()">navigate_next</mat-icon>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell" *ngIf="protocols && protocols.length == 0; else searching">No hay elementos que mostrar.</td>
                <ng-template #searching>
                    <td class="dataIndiCell">Buscando elementos.</td>
                  </ng-template>
                <ng-container *ngFor="let td of [1, 2, 3]">
                    <td class="dataIndiCell"></td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>
</div>
