<mat-sidenav-container>

    <mat-sidenav mode="side" [(opened)]="sidenavOpened">
        <div class="logosideMenuContainer">
            <img [routerLink]="['formulacion']" class="logoPlanner" src="DyCVBO.png" alt="Planificación Institucional">
        </div>

        <div class="sideMenuOptionsContainer"> <!---*ngIf="userLogged.rol.modulos"-->

            <a class="item-menu" [routerLink]="['/layout/acuerdos']" routerLinkActive="active" > <!--*ngIf="false"-->
                <!--*ngIf="usuario.role == 'Encargado' || usuario.role == 'Analista'"-->
                <mat-icon>handshake</mat-icon>Acuerdos
            </a>
            <a class="item-menu" [routerLink]="['/layout/cursos']"
                *ngIf="usuario.role == 'Encargado' || usuario.role == 'Analista'" routerLinkActive="active"> <!---->
                <mat-icon>collections_bookmark</mat-icon>Cursos
            </a>
            <a *ngIf="improvePlan && appHelpers.isTodayInRange(improvePlan.fechaInicio, improvePlan.fechaFin) && usuario.role !== 'supervisado'"
                class="item-menu" [routerLink]="['/layout/plan-de-mejora']" routerLinkActive="active">
                <mat-icon>star</mat-icon>Plan de mejora
            </a>

            <a class="item-menu" *ngIf="usuario.role !== 'supervisado' && usuario.SupervisorInterino == 'False' && usuario.Position != 'Analista de Planificación'" 
                [routerLink]="['/layout/evaluacion-competencias']" routerLinkActive="active">
                <mat-icon>description</mat-icon>Evaluación de competencias
            </a>
            
            <a class="item-menu" *ngIf="usuario.role == 'supervisado' && usuario.SupervisorInterino == 'True'"
                [routerLink]="['/layout/evaluacion-provisional']" routerLinkActive="active">
                <mat-icon>description</mat-icon>Supervisión provisional 
            </a>

            <a class="item-menu" 
                [routerLink]="['/layout/mi-evaluacion']" routerLinkActive="active">
                <mat-icon>assignment_turned_in</mat-icon>Mi evaluación
            </a>

            <a class="item-menu-subM"  *ngIf="usuario.role !== 'supervisado' && usuario.SupervisorInterino == 'True'" >
                <mat-icon>description</mat-icon>Evaluación de competencias

                <mat-icon (click)="provitionalEvaluator = !provitionalEvaluator"
                    *ngIf="provitionalEvaluator; else close">keyboard_arrow_up</mat-icon>

                <ng-template #close>
                    <mat-icon (click)="provitionalEvaluator = !provitionalEvaluator">keyboard_arrow_down</mat-icon>
                </ng-template>
            </a>

            <div *ngIf="provitionalEvaluator && usuario.role !== 'supervisado' && usuario.SupervisorInterino == 'True'" >

                <a class="sub-item-menu" [routerLink]="['/layout/evaluacion-competencias']" routerLinkActive="active">
                    <mat-icon>person</mat-icon>Evaluación Personal
                </a>

                <a class="sub-item-menu" [routerLink]="['/layout/evaluacion-provisional']" routerLinkActive="active">
                    <mat-icon style="font-size: 22px;">supervisor_account</mat-icon>Evaluación Provisional
                </a>
            </div>

            <a class="item-menu" [routerLink]="['/layout/minutaLista']"
                *ngIf="usuario.role == 'Encargado' || usuario.role == 'Analista' && usuario.Position != 'Analista de Planificación'" routerLinkActive="active">
                <mat-icon>content_paste_search</mat-icon>Minutas
            </a>
            <a class="item-menu" [routerLink]="['/layout/reportes']"  routerLinkActive="active"> <!---->
                <mat-icon>analytics</mat-icon>Reportes
            </a>

        </div>

        <div>
            <div class="ConfigsideMenuContainer"
                *ngIf="usuario.role !== 'Supervisor' && usuario.role !== 'supervisado' && usuario.Position != 'Analista de Planificación' ">
                <div class="item-menu" [routerLink]="['/layout/mantenimiento']" routerLinkActive="activeOut">
                    <mat-icon>settings</mat-icon>Mantenimiento
                </div>
            </div>

            <div class="ConfigsideMenuContainer" (click)="cerrarSesion()">
                <div class="item-menu" [routerLink]="['formulacion']" routerLinkActive="activeOut">
                    <mat-icon>logout</mat-icon>Cerrar Sesión
                </div>
            </div>
        </div>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="componentsContent">
            <mat-toolbar class="navbar">

                <div class="btnMenuContainer"> <!--*ngIf="userSystemService.getUnitOrg.nombre"-->
                    <button class="btnMenu" (click)="sidenavOpened = !sidenavOpened">
                        <mat-icon>menu</mat-icon>
                    </button>&nbsp;
                    <h2 class="departamento">{{usuario.RecintoSigla}}</h2>

                    <!-- *ngIf="unidadOrgData.subUnidad.length > 1"-->
                    <!-- <button class="dropdown-toggle" (click)="toggleDropdown($event)">
                <mat-icon>expand_more</mat-icon>
              </button>
             -->
                    <!-- <div class="dropdown-menu" [class.show]="dropdownOpen">
                <ng-container *ngFor="let unit of unidadOrgData.subUnidad">
                  <button class="dropdown-item" (click)="changeUnitOrg({id: unit.id, nombre: unit.nombre})">
                    {{unit.nombre}}
                  </button>
                </ng-container>
              </div> -->
                </div>

                <div class="logout"> <!--*ngIf="userSystemService.getUnitOrg.nombre"-->
                    <span class="userName">
                        <h3 class="nombre">{{usuario.Firstname}} {{usuario.Lastname}}</h3>
                        <h3 class="cargo">{{usuario.Position}}</h3>
                    </span>
                    <button class="closeAccount"><!--[matMenuTriggerFor]="menu"-->
                        <mat-icon>person</mat-icon>
                    </button>
                    <mat-menu class="menuPanel" #menu="matMenu">
                        <!-- <div mat-menu-item class="profile">
                    <mat-icon>person</mat-icon>
                    <span>asd</span>
                    <br>
                    <span class="email">das</span>
                  </div> -->

                        <!--(click)="changePassword()"-->
                        <!-- <button mat-menu-item >
                  <mat-icon>lock</mat-icon>
                  <span>Cambiar contraseña</span>
                </button> -->

                        <!--(click)="logOut()"-->
                        <!-- <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Cerrar sesion</span>
                        </button> -->
                    </mat-menu>
                </div>
            </mat-toolbar>
            <div class="routerOuletContainer">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>