<h2 class="Stitle">Grados</h2>
<div>
    <form style=" margin: 15px 0 35px 0" [formGroup]="gradesForm" (ngSubmit)="saveChanges()">

        <mat-form-field appearance="fill" style="width: 69%;">
            <mat-label>Competencias</mat-label>
            <mat-select formControlName="idCompetencia" disableRipple>
                <ng-container *ngIf="competencies && competencies.length; else noCompetency">
                    <mat-option [value]="competency.idCompetencia" *ngFor="let competency of competencies"> <!---->
                        {{competency.nombre}}
                    </mat-option>
                </ng-container>
                <ng-template #noCompetency>
                    <mat-option>No hay campos disponibles</mat-option>
                </ng-template>
            </mat-select>
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 30%;">
            <mat-label>Grados</mat-label>
            <mat-select formControlName="idTipoGrado" disableRipple>
                <ng-container>
                    <mat-option [value]="typeGrade.idTipoGrado" *ngFor="let typeGrade of gradesTypes">
                        {{typeGrade.nombre}}
                    </mat-option>
                </ng-container>
                <ng-template #noUnidadPadre>
                    <mat-option>No hay campos disponibles</mat-option>
                </ng-template>
            </mat-select>
        </mat-form-field><br>

        <h3 class="Stitle">Comportamientos</h3>
        <br>
        <div formArrayName="comportamientos" >
            <div *ngFor="let behavior of behaviors.controls; let i = index" [formGroupName]="i" >
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Comportamiento {{i + 1}}</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field><br>
            </div>
        </div>

        <button type="submit" class="saveButton">Guardar cambios</button> &nbsp;
        <button type="button" class="cleanButton" (click)="gradesForm.reset()" *ngIf="gradesForm.value.idGrado">Limpiar edición</button>

    </form>

    <h3 class="Stitle">Listado de Grados</h3>

    <div class="table-container">
        <table>
            <thead class="headerTable">
                <tr class="headerRow">
                    <th class="headerCell">Competencia</th>
                    <th class="headerCell">Grado</th>
                    <th class="headerCell" style="width: 10%;">Comportamientos</th>
                    <th class="headerCell" style="width: 5%;"></th>
                    <th class="headerCell" style="width: 5%; padding-right: 15px;">
                        <div *ngIf="!grades" class="loader"></div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="grades.length > 0; else noElements">
                <tr class="dataRow" *ngFor="let grade of grades">
                    <td class="dataIndiCell">{{grade.competenciaObj.nombre}}</td>
                    <td class="dataIndiCell">{{grade.tipoGradoObj.nombre}}</td>
                    <td class="dataIndiCell"  style="text-align: center;" ><mat-icon class="listIcon" (click)="openPropertyModal(grade.comportamientosObj, 'Comportamientos', grade.tipoGradoObj.nombre)" >list</mat-icon></td>
                    <td class="dataIndiCell"><mat-icon (click)="setValueToEdit(grade)" class="editIcon">edit</mat-icon></td>
                    <td class="dataIndiCell"><mat-icon (click)="deleteGrade(grade.idGrado)" class="removeIcon">delete</mat-icon></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="paginatorRow">
                    <td class="dataIndiCell"></td>
                    <td class="dataIndiCell"></td>
                    <td class="dataIndiCell"></td>
                    <td class="dataIndiCell">
                        items
                    </td>
                    <td class="dataIndiCell">
                        <span style="display: flex; align-items: center;">
                            <mat-icon class="">navigate_before</mat-icon>
                            <h5 style="margin: 0;"></h5>
                            <mat-icon class="">navigate_next</mat-icon>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell">No hay elementos que mostrar.</td>
            </tr>
        </tbody>
    </ng-template>
</div>
