<div class="fuctionContent" style="padding: 10px 0;">
    <div class="title">
        <h1>Reportes</h1>
    </div>
</div>

<div style="display: flex; justify-content: space-between;">
    <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>Buscar</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>

<app-loader *ngIf="false" ></app-loader>

<div class="reportCardContent">

    <div class="reportCard">
        <div class="infoContainer">
            <div class="logo">
                <mat-icon>settings</mat-icon>
            </div>
            <div class="information">
                <h2>Reporte de Evaluación de Competencias</h2>
                <p>Este reporte muestra como los recintos manejaron sus competencias y cual es la media de calificación.
                </p>
            </div>
        </div>

        <div class="actionsContainer">
            <div class="detailInfo">
                <h4></h4>
                <h5>Ver detalles</h5>
            </div>
            <button mat-stroked-button>Generar PDF</button>
        </div>
    </div>

    <div class="reportCard">
        <div class="infoContainer">
            <div class="logo">
                <mat-icon>group</mat-icon>
            </div>
            <div class="information">
                <h2>Reporte de Evaluación de Competencias</h2>
                <p>Este reporte muestra como los recintos manejaron sus competencias y cual es la media de calificación.
                </p>
            </div>
        </div>

        <div class="actionsContainer">
            <div class="detailInfo">
                <h4></h4>
                <h5>Ver detalles</h5>
            </div>
            <button mat-stroked-button>Generar PDF</button>
        </div>
    </div>

    <div class="reportCard">
        <div class="infoContainer">
            <div class="logo">
                <mat-icon>settings</mat-icon>
            </div>
            <div class="information">
                <h2>Reporte de Evaluación de Competencias</h2>
                <p>Este reporte muestra como los recintos manejaron sus competencias y cual es la media de calificación.
                </p>
            </div>
        </div>

        <div class="actionsContainer">
            <div class="detailInfo">
                <h4></h4>
                <h5>Ver detalles</h5>
            </div>
            <button mat-stroked-button>Generar PDF</button>
        </div>
    </div>

    <div class="reportCard">
        <div class="infoContainer">
            <div class="logo">
                <mat-icon>settings</mat-icon>
            </div>
            <div class="information">
                <h2>Reporte de Evaluación de Competencias</h2>
                <p>Este reporte muestra como los recintos manejaron sus competencias y cual es la media de calificación.
                </p>
            </div>
        </div>

        <div class="actionsContainer">
            <div class="detailInfo">
                <h4></h4>
                <h5>Ver detalles</h5>
            </div>
            <button mat-stroked-button>Generar PDF</button>
        </div>
    </div>
</div>

<div class="empty-list" *ngIf="false">
    <img src="nodata.jpg" alt="No courses available">
</div>