<h2 class="Stitle">Competencias</h2>
<div>
    <form style=" margin: 15px 0 35px 0"> <!--[formGroup]="estructuraProgramaticaForm" (ngSubmit)="saveChanges()"-->

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field><br>

        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
        </mat-form-field>

        <button type="submit" class="saveButton">Guardar cambios</button> &nbsp;
        <button class="cleanButton">Limpiar edición</button> <!--(click)="estructuraProgramaticaForm.reset()" -->

    </form>

    <h3 class="Stitle">Listado de Competencias</h3>

    <div class="table-container">
        <table>
            <thead class="headerTable">
                <tr class="headerRow">
                    <th class="headerCell">Competencia</th>
                    <th class="headerCell">Descripción</th>
                    <th class="headerCell" style="width: 5%;"></th>
                    <th class="headerCell" style="width: 5%; padding-right: 15px;">
                        <div class="loader"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="dataRow">
                    <td class="dataIndiCell">Item 1</td>
                    <td class="dataIndiCell">001</td>
                    <td class="dataIndiCell"><mat-icon class="editIcon">edit</mat-icon></td>
                    <td class="dataIndiCell"><mat-icon class="removeIcon">delete</mat-icon></td>
                </tr>
                <tr class="dataRow">
                    <td class="dataIndiCell">Item 2</td>
                    <td class="dataIndiCell">002</td>
                    <td class="dataIndiCell"><mat-icon class="editIcon">edit</mat-icon></td>
                    <td class="dataIndiCell"><mat-icon class="removeIcon">delete</mat-icon></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="paginatorRow">
                    <td class="dataIndiCell"></td>
                    <td class="dataIndiCell"></td>
                    <td class="dataIndiCell">
                        <!-- Placeholder para paginación -->
                    </td>
                    <td class="dataIndiCell">
                        <span style="display: flex; align-items: center;">
                            <mat-icon class="">navigate_before</mat-icon>
                            <h5 style="margin: 0;"></h5>
                            <mat-icon class="">navigate_next</mat-icon>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- <div class="noData" *ngIf="estructurasProgramaticas && estructurasProgramaticas.length == 0">
        <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos.">
      </div> -->
</div>