<h2 class="Stitle">Colaboradores</h2>
<div>
    <form style=" margin: 15px 0 35px 0" [formGroup]="collaboratorForm" (ngSubmit)="saveChanges()"> <!---->

        <div style="display: flex; gap: 5px;">

            <mat-form-field appearance="fill" style="flex: 1;">
                <mat-label>Cedula / Pasaporte</mat-label>
                <input matInput formControlName="cedula" maxlength="11" (input)="getPersonaByDNI()">
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1;">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1;">
                <mat-label>Apellidos</mat-label>
                <input matInput formControlName="apellidos">
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1;">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usuario">
            </mat-form-field>
        </div>

        <div style="display: flex; gap: 5px;">

            <!-- <mat-form-field appearance="fill" style="flex: 1;">
                <mat-label>Edad</mat-label>
                <input type="number" matInput formControlName="edad">
            </mat-form-field> -->

            <mat-form-field appearance="fill" style="flex: 1.5">
                <mat-label>Cargo</mat-label>
                <input matInput [matAutocomplete]="charge" appearance="fill" formControlName="idCargo"
                    (input)="getCargoByName()">

                <mat-autocomplete #charge="matAutocomplete" [displayWith]="displayName">
                    <ng-container *ngIf="positions && positions.length; else noPosition">
                        <mat-option [value]="position" *ngFor="let position of positions">
                            {{position.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noPosition>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-autocomplete>

                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Fecha de ingreso</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaIngreso">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Fecha de nacimineto</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="fechaNacimiento">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Grupo Ocupacional</mat-label>
                <mat-select formControlName="idGrupo" disableRipple>
                    <ng-container *ngIf="ocupationalGroups && ocupationalGroups.length; else noOG">
                        <mat-option [value]="ocupationalGroup.idGrupo"
                            *ngFor="let ocupationalGroup of ocupationalGroups">
                            {{ocupationalGroup.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noOG>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>

        </div>

        <div style="display: flex; gap: 5px;">

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Recinto</mat-label>
                <mat-select formControlName="idRecinto" disableRipple>
                    <ng-container *ngIf="locations && locations.length; else noLocation">
                        <mat-option [value]="location.idRecinto" *ngFor="let location of locations">
                            {{location.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noLocation>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Rol de usuario</mat-label>
                <mat-select formControlName="idRol" disableRipple>
                    <ng-container *ngIf="roles && roles.length; else noRol">
                        <mat-option [value]="rol.idRol" *ngFor="let rol of roles">
                            {{rol.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noRol>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Supervisor</mat-label>
                <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="idSupervisor"
                    (input)="getSupervisorByName()">

                <mat-autocomplete #auto='matAutocomplete' [displayWith]="displaySUPName">
                    <ng-container *ngIf="supervisors && supervisors.length > 0; else noGoalPoa">
                        <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor">
                            {{supervisor.nombre | titlecase }} {{supervisor.apellidos | titlecase }}
                        </mat-option>
                    </ng-container>
                    <ng-template #noGoalPoa>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-autocomplete>

                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>

        </div>

        <div class="matRadioChoice">
            <h4 style="margin-right: 20px;">¿Cual es el sexo de la persona?</h4>
            <mat-radio-group formControlName="sexo">
                <mat-radio-button value="M" color="primary">Masculino</mat-radio-button>
                <mat-radio-button value="F" color="primary">Femenino</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="matRadioChoice">
            <h4 style="margin-right: 20px;">¿El colaborador ocupará una posición de supervisión?</h4>
            <mat-radio-group formControlName="supervisor">
                <mat-radio-button [value]="true" color="primary">Si</mat-radio-button>
                <mat-radio-button [value]="false" color="primary">No</mat-radio-button>
            </mat-radio-group>
        </div>

        <div style="display: flex; gap: 5px;">

            <mat-form-field appearance="fill" style="flex: 1" *ngIf="vic">
                <mat-label>Vicerrectoria</mat-label>
                <input matInput [matAutocomplete]="idViceRectoria" appearance="fill" formControlName="idViceRectoria"
                    (input)="getViceRectorateByName()">

                <mat-autocomplete #idViceRectoria="matAutocomplete" [displayWith]="displayName"
                    (optionSelected)="hidingUnitOrg()">
                    <ng-container *ngIf="viceRectorates && viceRectorates.length; else noviceRectorate">
                        <mat-option [value]="null">NO APLICA</mat-option>
                        <mat-option [value]="viceRectorate" *ngFor="let viceRectorate of viceRectorates">
                            {{viceRectorate.nombre | titlecase }}
                        </mat-option>
                    </ng-container>
                    <ng-template #noviceRectorate>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-autocomplete>

                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1" *ngIf="dir">
                <mat-label>Dirección</mat-label>
                <input matInput [matAutocomplete]="direction" appearance="fill" formControlName="idDireccion"
                    (input)="getDirectionByName()">

                <mat-autocomplete #direction="matAutocomplete" [displayWith]="displayName"
                    (optionSelected)="hidingUnitOrg()">
                    <ng-container *ngIf="directions && directions.length; else noDirection">
                        <mat-option [value]="null">NO APLICA</mat-option>
                        <mat-option [value]="direction" *ngFor="let direction of directions">
                            {{direction.nombre | titlecase }}
                        </mat-option>
                    </ng-container>
                    <ng-template #noDirection>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-autocomplete>

                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>


            <mat-form-field appearance="fill" style="flex: 1" *ngIf="dep">
                <mat-label>Departamento</mat-label>
                <input matInput [matAutocomplete]="idDepartamento" appearance="fill" formControlName="idDepartamento"
                    (input)="getDeparmentByName()">

                <mat-autocomplete #idDepartamento="matAutocomplete" [displayWith]="displayName"
                    (optionSelected)="hidingUnitOrg()">
                    <ng-container *ngIf="departments && departments.length; else noDepartment">
                        <mat-option [value]="null">NO APLICA</mat-option>
                        <mat-option [value]="department" *ngFor="let department of departments">
                            {{department.nombre | titlecase }}
                        </mat-option>
                    </ng-container>
                    <ng-template #noDepartment>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-autocomplete>

                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>

            <div style="flex: 1" *ngIf="vic == false || dir == false || dep == false"></div>
            <div style="flex: 1" *ngIf="vic == false || dir == false || dep == false"></div>
        </div>

        <div style="display: flex; gap: 5px;">

            <mat-form-field appearance="fill" style="flex: 1" *ngIf="div">
                <mat-label>División</mat-label>
                <input matInput [matAutocomplete]="idDivision" appearance="fill" formControlName="idDivision"
                    (input)="getDivisionByName()">

                <mat-autocomplete #idDivision="matAutocomplete" [displayWith]="displayName"
                    (optionSelected)="hidingUnitOrg()">
                    <ng-container *ngIf="divisions && divisions.length; else noDivision">
                        <mat-option [value]="null">NO APLICA</mat-option>
                        <mat-option [value]="division" *ngFor="let division of divisions">
                            {{division.nombre | titlecase }}
                        </mat-option>
                    </ng-container>
                    <ng-template #noDivision>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-autocomplete>

                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>


            <div style="flex: 1"></div>
            <div style="flex: 1"></div>

        </div>

        <div class="matRadioChoice">
            <h4 style="margin-right: 20px;">¿El empleado es de carrera administrativa?</h4>
            <mat-radio-group formControlName="carreraAdministrativa">
                <mat-radio-button [value]="false" [checked]="true" (click)="onCareerSelectionChange(false)"
                    color="primary">No</mat-radio-button>
                <mat-radio-button [value]="true" (click)="onCareerSelectionChange(true)"
                    color="primary">Si</mat-radio-button>
            </mat-radio-group>
        </div>

        <div style="display: flex; gap: 5px;" *ngIf="adminCareer">

            <mat-form-field appearance="fill" style="flex: 1;">
                <mat-label>Número de resolución</mat-label>
                <input matInput formControlName="noResolucion">
            </mat-form-field>

            <div style="flex: 1"></div>
            <div style="flex: 1"></div>
        </div>

        <div class="matRadioChoice">
            <h4 style="margin-right: 20px;">¿El empleado desempeña un cargo o grupo ocupacional diferente al
                establecido?</h4>
            <mat-radio-group formControlName="diferentPosition">
                <mat-radio-button [value]="false" [checked]="true" color="primary"
                    (click)="onPositionSelectionChange(false)">No</mat-radio-button>
                <mat-radio-button [value]="true" color="primary"
                    (click)="onPositionSelectionChange(true)">Si</mat-radio-button>
            </mat-radio-group>
        </div>

        <div style="display: flex; gap: 5px;" *ngIf="collaboratorForm.value.diferentPosition">

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Cargo desempeñado</mat-label>
                <input matInput [matAutocomplete]="charge" appearance="fill" formControlName="idCargoDesempenia"
                    (input)="getCargoByName()">

                <mat-autocomplete #charge="matAutocomplete" [displayWith]="displayName">
                    <ng-container *ngIf="positions && positions.length; else noDPosition">
                        <mat-option [value]="position" *ngFor="let position of positions">
                            {{position.nombre | titlecase }}
                        </mat-option>
                    </ng-container>
                    <ng-template #noDPosition>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-autocomplete>

                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Grupo ocupacional desempeñado</mat-label>
                <mat-select formControlName="idGrupoDesempenia" disableRipple>
                    <ng-container *ngIf="ocupationalGroups && ocupationalGroups.length; else noGoal">
                        <mat-option [value]="ocupationalGroup.idGrupo"
                            *ngFor="let ocupationalGroup of ocupationalGroups">
                            {{ocupationalGroup.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noGoal>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>

            <div style="flex: 1"></div>
        </div>

        <button type="submit" class="saveButton">Guardar cambios</button> &nbsp;
        <button type="button" class="cleanButton" *ngIf="collaboratorForm.value.idUsuario" (click)="clearForm()">Limpiar
            edición</button>

    </form>

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h3 class="Stitle">Listado de Colaboradores</h3>
        
        <form [formGroup]="filterForm">
            <mat-form-field appearance="fill" >
                <mat-label>Buscar por nombre</mat-label>
                <input matInput formControlName="filter" (input)="getCollaborators()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>

    </div>

    <div class="table-container" style="margin-top: 0;">
        <table>
            <thead class="headerTable">
                <tr class="headerRow">
                    <th class="headerCell">Colaborador</th>
                    <th class="headerCell">Recinto</th>
                    <th class="headerCell">Cargo</th>
                    <th class="headerCell">Estado</th>
                    <th class="headerCell">G.Ocupacional</th>
                    <th class="headerCell" style="width: 5%;"></th>
                    <th class="headerCell" style="width: 7%; padding-right: 15px;">
                        <div *ngIf="!collaborators" class="loader"></div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="collaborators && collaborators.length > 0; else noElements">
                <tr class="dataRow" *ngFor="let collaborator of collaborators">
                    <td class="dataIndiCell">{{collaborator.persona.nombre | titlecase }}
                        {{collaborator.persona.apellidos | titlecase }}</td>
                    <td class="dataIndiCell">{{collaborator.persona.recinto.nombre}}
                        ({{collaborator.persona.recinto.siglas}})</td>
                    <td class="dataIndiCell">{{collaborator.persona.cargo.nombre | titlecase}}</td>
                    <td class="dataIndiCell">{{collaborator.persona.estadoObj.nombre}}</td>
                    <td class="dataIndiCell">{{collaborator.persona.grupoObj ? collaborator.persona.grupoObj.nombre :
                        'No Asignado'}}</td>
                    <td class="dataIndiCell"><mat-icon (click)="setValueToEdit(collaborator)"
                            class="editIcon">edit</mat-icon></td>
                    <td class="dataIndiCell"><mat-icon
                            (click)="deleteCollaborator(collaborator.idUsuario, collaborator.idPersona)"
                            class="removeIcon">delete</mat-icon></td>
                </tr>
            </tbody>
            <tfoot *ngIf="pagination && pagination.totalPage">
                <tr class="paginatorRow">
                    <ng-container *ngFor="let td of [1, 2, 3, 4, 5]">
                        <td class="dataIndiCell"></td>
                    </ng-container>
                    <td class="paginationCell"> <span style="color: #888;">{{pagination.totalItem}} Items</span></td>
                    <td class="paginationCell">
                        <span style="display: flex; align-items: center;">
                            <mat-icon class="rowIcon" (click)="previousPage()">navigate_before</mat-icon>
                            <h5 style="margin: 0;">{{page}} / {{pagination.totalPage}}</h5>
                            <mat-icon class="rowIcon" (click)="nextPage()">navigate_next</mat-icon>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell">No hay elementos que mostrar.</td>
                <ng-container *ngFor="let td of [1, 2, 3, 4, 5, 6]">
                    <td class="dataIndiCell"></td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>
</div>


<!-- 
<div style="display: flex; gap: 5px;">

    <mat-form-field appearance="fill" style="flex: 1" *ngIf="vic">
        <mat-label>Vicerrectoria</mat-label>
        <input matInput [matAutocomplete]="idViceRectoria" appearance="fill" formControlName="idViceRectoria" 
        (input)="getSupervisorByName()">

        <mat-autocomplete #idViceRectoria="matAutocomplete" [displayWith]="displayName">
            <ng-container *ngIf="viceRectorates && viceRectorates.length; else noviceRectorate">
                <mat-option [value]="null">NO APLICA</mat-option>
                <mat-option [value]="viceRectorate.idViceRectoria" *ngFor="let viceRectorate of viceRectorates">
                    {{viceRectorate.nombre}}
                </mat-option>
            </ng-container>
            <ng-template #noviceRectorate>
                <mat-option>No hay campos disponibles</mat-option>
            </ng-template>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1" *ngIf="dir">
        <mat-label>Dirección</mat-label>
        <input matInput [matAutocomplete]="direction" appearance="fill" formControlName="idDireccion" 
        (input)="getSupervisorByName()">

        <mat-autocomplete #direction="matAutocomplete" [displayWith]="displayName" >
            <ng-container *ngIf="directions && directions.length; else noDirection">
                <mat-option [value]="null">NO APLICA</mat-option>
                <mat-option [value]="direction" *ngFor="let direction of directions">
                    {{direction.nombre}}
                </mat-option>
            </ng-container>
            <ng-template #noDirection>
                <mat-option>No hay campos disponibles</mat-option>
            </ng-template>
        </mat-autocomplete>

        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1" *ngIf="dep">
        <mat-label>Departamento</mat-label>
        <input matInput [matAutocomplete]="idDepartamento" appearance="fill" formControlName="idDepartamento" 
        (input)="getSupervisorByName()">

        <mat-autocomplete #idDepartamento="matAutocomplete" >
            <mat-option [value]="null">NO APLICA</mat-option>
            <ng-container *ngIf="departments && departments.length; else noDepartment">
                <mat-option [value]="department.idDepartamento" *ngFor="let department of departments">
                    {{department.nombre}}
                </mat-option>
            </ng-container>
            <ng-template #noDepartment>
                <mat-option>No hay campos disponibles</mat-option>
            </ng-template>
        </mat-autocomplete>

        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </mat-form-field>

    <div style="flex: 1" *ngIf="vic == false || dir == false || dep == false"></div>
    <div style="flex: 1" *ngIf="vic == false || dir == false || dep == false"></div>
</div> 

<mat-form-field appearance="fill" style="flex: 1" *ngIf="div">
                <mat-label>División</mat-label>
                <input matInput [matAutocomplete]="idDivision" appearance="fill" formControlName="idDivision" 
                (input)="getSupervisorByName()">

                <mat-autocomplete #idDivision="matAutocomplete" [displayWith]="displayName">
                    <ng-container *ngIf="divisions && divisions.length; else noDivision">
                        <mat-option [value]="null">NO APLICA</mat-option>
                        <mat-option [value]="division" *ngFor="let division of divisions">
                            {{division.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noDivision>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-autocomplete>

                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>

            

-->