<h2 class="Stitle">Metas</h2>
<div>
    <form style=" margin: 15px 0 35px 0" [formGroup]="goalsForm" (ngSubmit)="saveChanges()">

        <div style="display: flex; gap: 5px;">

            <mat-form-field style="flex:1">
                <mat-label>Meta</mat-label>
                <input matInput formControlName="nombre">

                <!-- Error: La meta no es específica -->
                <mat-error *ngIf="goalsForm.get('nombre')?.hasError('notSpecific')">
                    La meta debe ser específica y suficientemente detallada.
                </mat-error>

                <!-- Error: La meta no es medible -->
                <mat-error *ngIf="goalsForm.get('nombre')?.hasError('notMeasurable') && 
                         !goalsForm.get('nombre')?.hasError('notSpecific')">
                    La meta debe ser medible (incluir un número o cantidad).
                </mat-error>

                <!-- Error: Falta referencia temporal -->
                <mat-error *ngIf="goalsForm.get('nombre')?.hasError('missingTime') && 
                         !goalsForm.get('nombre')?.hasError('notSpecific') && 
                         !goalsForm.get('nombre')?.hasError('notMeasurable')">
                    La meta debe incluir una referencia temporal válida (día, mes y año; mes y año; o solo el año).
                </mat-error>

                <!-- Error: Falta un número adicional fuera de la referencia temporal -->
                <mat-error *ngIf="goalsForm.get('nombre')?.hasError('numberOutsideTime') && 
                         !goalsForm.get('nombre')?.hasError('notSpecific') && 
                         !goalsForm.get('nombre')?.hasError('notMeasurable') && 
                         !goalsForm.get('nombre')?.hasError('missingTime')">
                    La meta debe incluir un número que permita medir su cumplimiento, fuera de la referencia temporal.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Medio de Verificación</mat-label>
                <mat-select formControlName="idMedio" disableRipple>
                    <ng-container *ngIf="verificationMethods && verificationMethods.length; else noVM">
                        <mat-option [value]="verificationMethod.idMedio"
                            *ngFor="let verificationMethod of verificationMethods">
                            {{verificationMethod.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noVM>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>
        </div>

        <div style="display: flex; gap: 5px;">

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Valor</mat-label>
                <input matInput type="number" formControlName="valor">
            </mat-form-field>


            <mat-form-field appearance="fill" style="flex: 2">
                <mat-label>Meta del plan operativo anual</mat-label>
                <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="metaPoa"
                    (input)="getGoalPOA()">

                <mat-autocomplete #auto='matAutocomplete'>
                    <ng-container *ngIf="goalsPoa && goalsPoa.length > 0; else noGoalPoa">
                        <mat-option *ngFor="let goalPoa of goalsPoa" [value]="goalPoa.nombre">
                            {{goalPoa.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noGoalPoa>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-autocomplete>

                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            </mat-form-field>
        </div>

        <button type="submit" class="saveButton">Guardar cambios</button> &nbsp;
        <button type="button" class="cleanButton" (click)="goalsForm.reset()" *ngIf="goalsForm.value.idMeta">Limpiar
            edición</button>
    </form>

    <h3 class="Stitle">Listado Metas</h3>

    <div class="table-container">
        <table>
            <thead class="headerTable">
                <tr class="headerRow">
                    <th class="headerCell">Nombre</th>
                    <th class="headerCell">Medio de verificación</th>
                    <th class="headerCell">Valor</th>
                    <th class="headerCell">Meta POA</th>
                    <th class="headerCell" style="width: 5%;"></th>
                    <th class="headerCell" style="width: 7%; padding-right: 15px;">
                        <div class="loader" *ngIf="!goals"></div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="goals && goals.length > 0; else noElements">
                <tr class="dataRow" *ngFor="let goal of goals">
                    <td class="dataIndiCell" [matTooltip]="goal.nombre">{{goal.nombre}}</td>
                    <td class="dataIndiCell">{{goal.medioVerificacionObj.nombre}}</td>
                    <td class="dataIndiCell">{{goal.valor}} Puntos</td>
                    <td class="dataIndiCell">{{goal.metaPoa ? goal.metaPoa : 'No Asignado'}}</td>
                    <td class="dataIndiCell"><mat-icon matTooltip="Editar meta." (click)="setValueToEdit(goal)"
                            class="editIcon">edit</mat-icon>
                    </td>
                    <td class="dataIndiCell"><mat-icon matTooltip="Eliminar meta." (click)="deleteGoal(goal.idMeta)"
                            class="removeIcon">delete</mat-icon></td>
                </tr>
            </tbody>
            <tfoot *ngIf="pagination && pagination.totalPage">
                <tr class="paginatorRow">
                    <ng-container *ngFor="let td of [1, 2, 3, 4]">
                        <td class="dataIndiCell"></td>
                    </ng-container>
                    <td class="paginationCell"> <span style="color: #888;">{{pagination.totalItem}} Items</span></td>
                    <td class="paginationCell">
                        <span style="display: flex; align-items: center;" *ngIf="pagination.totalPage > 1">
                            <mat-icon class="rowIcon" matTooltip="Pagina anterior."
                                (click)="previousPage()">navigate_before</mat-icon>
                            <h5 style="margin: 0;">{{page}} / {{pagination.totalPage}}</h5>
                            <mat-icon class="rowIcon" matTooltip="Pagina siguiente."
                                (click)="nextPage()">navigate_next</mat-icon>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell" *ngIf="goals && goals.length == 0; else searching">No hay elementos que mostrar.</td>
                <ng-template #searching>
                    <td class="dataIndiCell">Buscando elementos.</td>
                </ng-template>
                <ng-container *ngFor="let td of [1, 2, 3, 4, 5]">
                    <td class="dataIndiCell"></td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>
</div>