<div class="fuctionContent">
  <div class="title">
    <h1>Plan de Mejora</h1>
  </div>
  <div>
    <button *ngIf="this.systemInformation.activeRol().nombre !== 'Supervisor'" type="submit" class="btnNavegar" [routerLink]="[{ outlets: { 'plan-de-mejora': ['resultado']}}]"
      routerLinkActive="active">Resultados Plan de Mejora</button> &nbsp;
  </div>
</div>
<div class="filters">
  <mat-form-field appearance="fill" style="width: 300px;">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="searchTerm" (input)="Buscar()"> <!--[(ngModel)]="questionName" (input)="getPregunta()"-->
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<h3 *ngIf="this.systemInformation.activeRol().nombre == 'Supervisor'; else noSup ">{{usuario.Unidad}}</h3>
<ng-template #noSup>
  <h3>LISTA DE PLANES DE MEJORA TRABAJADOS.</h3>
</ng-template>

<div class="table-container">
  <table>
    <thead class="headerTable">
      <tr class="headerRow">
        <th class="headerCell">Nombre</th>
        <th class="headerCell">Unidad organizativa</th>
        <th class="headerCell">Cargo</th>
        <th class="headerCell">Grupo ocupacional</th>
        <th class="headerCell" style="width: 5%;"></th>
        <th class="headerCell" style="width: 5%; padding-right: 15px;">
          <div class="loader" *ngIf="!agreementList"></div>
        </th>
      </tr>
    </thead>

    <tbody  *ngIf="!agreementList; else noElements">
      <tr class="dataRow" *ngFor="let persona of agreementList">
        <td class="dataIndiCell">{{persona.colaboradorObj.nombre}} {{persona.colaboradorObj.apellidos}}</td>
        <td class="dataIndiCell">{{persona.colaboradorObj.departamento.nombre}}</td>
        <td class="dataIndiCell">{{persona.colaboradorObj.cargo.nombre}}</td>
        <td class="dataIndiCell">{{persona.colaboradorObj.grupoObj.nombre}}</td>
        <td class="dataIndiCell"><mat-icon class="listIcon" (click)="openModalVerPlanMejora(persona.colaboradorObj.idPersona, persona.colaboradorObj.nombre,persona.colaboradorObj.apellidos)">description</mat-icon></td>
        <td class="dataIndiCell"><mat-icon class="editIcon"
            [routerLink]="[{ outlets: { 'plan-de-mejora': ['formulario',persona.colaboradorObj.idPersona]}}]" routerLinkActive="active"
            >edit</mat-icon>
        </td>
      </tr>
    </tbody>
    <ng-template #noElements>
      <tbody>
          <tr class="dataRow">
              <td class="dataIndiCell" *ngIf="agreementList && agreementList.length == 0; else searching">No hay elementos que mostrar.</td>
              <ng-template #searching>
                <td class="dataIndiCell">Buscando elementos.</td>
              </ng-template>
              <ng-container *ngFor="let td of [1, 2, 3, 4, 5]">
                  <td class="dataIndiCell"></td>
              </ng-container>
          </tr>
      </tbody>
  </ng-template>
    <!-- <tfoot>
      <tr class="paginatorRow">
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell">

        </td>
        <td class="dataIndiCell">
          <span style="display: flex; align-items: center;">
            <mat-icon class="">navigate_before</mat-icon>
            <h5 style="margin: 0;"></h5>
            <mat-icon class="">navigate_next</mat-icon>
          </span>
        </td>
      </tr>
    </tfoot> -->
  </table>
</div>
