<div class="fuctionContent">
    <h2>Evaluación Competencias</h2>

    <button class="backButton" mat-stroked-button [routerLink]="['/layout/evaluacion-competencias']"><mat-icon class="backIcon">arrow_back</mat-icon>Listado de Colaboradores</button>
</div>

<div class="staticInfoContainer">
    <span>
        <h3>Nombre Servidor Evaluado</h3>
        <h4>Darling Nomar De la Rosa Vanderhorst</h4>
        <h5>Admin. Base de datos</h5>
    </span>
    <span>
        <h3>Nombre Supervisor Inmediato</h3>
        <h4>Roberto Mayi Santana</h4>
        <h5>Encargado División de Desarrollo e Implementación de sistemas.</h5>
    </span>
    <span>
        <h3>Periodo a Evaluar</h3>
        <h4>Enero - Diciembre 2024</h4>
    </span>
    <span>
        <h3>Grupo Ocupacional</h3>
        <h4>IV</h4>
    </span>
</div>

<h3 style="margin: 15px 0 15px 0 ;">Competencia</h3>

<div class="competencia">
    <p>Capacidad para comunicarse de manera verbal y escrita con los grupos de interés internos y externos siguiendo los lineamientos
        definidos. Capacidad para escuchar con atención y entender los requerimientos de los clientes-ciudadanos para ofrecerle servicios. Habilidad para intercambiar informaciones pertinentes de manera verbal y escrita con los interesados.</p>
</div>

<h3 style="margin: 15px 0 15px 0 ;">Evalue la frecuencia de los comportamientos del colaborador</h3>

<div class="evaluacionComportamientoContainer">
    <div class="cabeceraComportamiento">
        <h4>Comportamiento</h4>
        <h4>Nunca/No aplica</h4>
        <h4>Poca veces</h4>
        <h4>Frecuentemente</h4>
        <h4>Casi siempre</h4>
        <h4>Siempre</h4>
    </div>
    <div class="evaluacionComportamiento">
        <div class="comportamiento">
            <p>Se comunica de manera verbal y escrita, siguiendo los lineamientos definidos.</p>
        </div>
        <mat-radio-group *ngFor="let i of [1, 2, 3, 4, 5]" class="radioGroupComportamiento" formControlName="ejesEstrategico">
                <mat-radio-button color="primary" [value]="false" ></mat-radio-button>
        </mat-radio-group>

        <div class="comportamiento">
            <p>Utiliza los canales de comunicación existentes para
                obtener la información que necesita y mantener la
                interacción con los demás.</p>
        </div>
        <mat-radio-group *ngFor="let i of [1, 2, 3, 4, 5]" class="radioGroupComportamiento" formControlName="ejesEstrategico">
                <mat-radio-button color="primary" [value]="false" ></mat-radio-button>
        </mat-radio-group>

        <div class="comportamiento">
            <p>Escucha con atención y entiende los requerimientos
                de los clientes-ciudadanos para ofrecerle mejores
                servicios.</p>
        </div>
        <mat-radio-group *ngFor="let i of [1, 2, 3, 4, 5]" class="radioGroupComportamiento" formControlName="ejesEstrategico">
                <mat-radio-button color="primary" [value]="false" ></mat-radio-button>
        </mat-radio-group>

        <div class="comportamiento">
            <p>Intercambia informaciones pertinentes de manera
                verbal y escrita con los interesados y clientes de su
                trabajo.</p>
        </div>
        <mat-radio-group *ngFor="let i of [1, 2, 3, 4, 5]" class="radioGroupComportamiento" formControlName="ejesEstrategico">
                <mat-radio-button color="primary" [value]="false" ></mat-radio-button>
        </mat-radio-group>

        <div class="comportamiento">
            <p>Adecua su lenguaje al de su interlocutor para que el
                mensaje transmitido sea comprensible.</p>
        </div>
        <mat-radio-group *ngFor="let i of [1, 2, 3, 4, 5]" class="radioGroupComportamiento" formControlName="ejesEstrategico">
                <mat-radio-button color="primary" [value]="false" ></mat-radio-button>
        </mat-radio-group>
    </div>

</div>
