<div style="display: flex; justify-content: space-between; align-items: center; width: 600px;">
    <span>
        <h3 style="color: white;">¿Estas seguro de eliminar el registro?</h3>
        <h4 style="color: white;">Esta acción no se puede deshacer.</h4>
    </span>
    <mat-icon style="color: #F44336;">contact_support</mat-icon>
</div>

<span style="display: grid; grid-template-columns: 1fr 1fr; gap: 15px; margin-top: 10px;">
    <button style="background-color: #004b8d; color: white;" (click)="onComfirm()" mat-stroked-button>Aceptar</button>
    <button style="background-color: #F44336; color: white;" (click)="closeSnackbar()" mat-stroked-button>Cancelar</button>
</span>