<div class="fuctionContent">

  <div style="margin: 10px;" class="title">
    <div>
      <h1 >Cursos Miembros del Equipo</h1>
    </div>
  </div>
    <div>
      <button class="backButton" mat-stroked-button
      [routerLink]="['../']"><mat-icon class="backIcon">arrow_back
      </mat-icon>Publicaciones de Cursos</button>
    </div>
</div>
<h2 style="margin: 10px;" >Joel</h2>

  <div class="table-container">
    <table>
        <thead class="headerTable">
            <tr class="headerRow">
                <th class="headerCell">Curso</th>
                <th class="headerCell">Fecha Inicio</th>
                <th class="headerCell">Fecha Fin</th>
                <th class="headerCell">Descripción</th>
                <th class="headerCell" style="width: 5%; padding-right: 15px;">
                   Salir
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="dataRow" >
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asdasdas</td>
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asasdasd</td>
                <td class="dataIndiCell"><mat-icon  class="removeIcon">logout</mat-icon></td>
            </tr>
            <tr class="dataRow" >
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asdasdas</td>
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asasdasd</td>
                <td class="dataIndiCell"><mat-icon  class="removeIcon">logout</mat-icon></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="paginatorRow">
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell">
                    <!-- Placeholder para paginación -->
                </td>
                <td class="dataIndiCell">
                    <span style="display: flex; align-items: center;">
                        <mat-icon class="">navigate_before</mat-icon>
                        <h5 style="margin: 0;"></h5>
                        <mat-icon class="">navigate_next</mat-icon>
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
  </div>


<h2>Darling</h2>


  <div class="table-container">
    <table>
        <thead class="headerTable">
            <tr class="headerRow">
                <th class="headerCell">Curso</th>
                <th class="headerCell">Fecha Inicio</th>
                <th class="headerCell">Fecha Fin</th>
                <th class="headerCell">Descripción</th>
                <th class="headerCell" style="width: 5%; padding-right: 15px;">
                    <!-- <div class="loader"></div> -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="dataRow" >
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asdasdas</td>
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asasdasd</td>
                <td class="dataIndiCell"><mat-icon  class="removeIcon">logout</mat-icon></td>
            </tr>
            <tr class="dataRow" >
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asdasdas</td>
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asasdasd</td>
                <td class="dataIndiCell"><mat-icon  class="removeIcon">logout</mat-icon></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="paginatorRow">
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell">
                    <!-- Placeholder para paginación -->
                </td>
                <td class="dataIndiCell">
                    <span style="display: flex; align-items: center;">
                        <mat-icon class="">navigate_before</mat-icon>
                        <h5 style="margin: 0;"></h5>
                        <mat-icon class="">navigate_next</mat-icon>
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
  </div>
  <h2>Jonas</h2>
  <div class="table-container">
    <table>
        <thead class="headerTable">
            <tr class="headerRow">
                <th class="headerCell">Curso</th>
                <th class="headerCell">Fecha Inicio</th>
                <th class="headerCell">Fecha Fin</th>
                <th class="headerCell">Descripción</th>
                <th class="headerCell" style="width: 5%; padding-right: 15px;">
                    <!-- <div class="loader"></div> -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="dataRow" >
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asdasdas</td>
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asasdasd</td>
                <td class="dataIndiCell"><mat-icon  class="removeIcon">logout</mat-icon></td>
            </tr>
            <tr class="dataRow" >
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asdasdas</td>
                <td class="dataIndiCell">asdasdasd</td>
                <td class="dataIndiCell">asasdasd</td>
                <td class="dataIndiCell"><mat-icon  class="removeIcon">logout</mat-icon></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="paginatorRow">
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell">
                    <!-- Placeholder para paginación -->
                </td>
                <td class="dataIndiCell">
                    <span style="display: flex; align-items: center;">
                        <mat-icon class="">navigate_before</mat-icon>
                        <h5 style="margin: 0;"></h5>
                        <mat-icon class="">navigate_next</mat-icon>
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
  </div>



