<h2 class="Stitle">Gestion de procesos</h2>
<div>
    <form style=" margin: 15px 0 35px 0" [formGroup]="periodsProcessForm" (ngSubmit)="saveChanges()">

        <div style="display: flex; gap: 5px;">

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Proceso</mat-label>
                <mat-select formControlName="tipoProcesoId" disableRipple>
                    <ng-container *ngIf="processes && processes.length; else noPosition">
                        <mat-option [value]="process.id" *ngFor="let process of processes">
                            {{process.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noPosition>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Rango de Fecha</mat-label>
                <mat-date-range-input [rangePicker]="picker2">
                    <input matStartDate placeholder="Fecha Inicial" formControlName="fechaInicio">
                    <input matEndDate placeholder="Fecha Final" formControlName="fechaFin">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-date-range-picker #picker2></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Prórroga</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaProroga">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <button type="submit" class="saveButton">Guardar cambios</button> &nbsp;
        <button type="button" class="cleanButton" (click)="periodsProcessForm.reset()"
            *ngIf="periodsProcessForm.value.idPeriodoAcuerdo"> Limpiar edición</button>

    </form>

    <h3 class="Stitle">Listado de periodos</h3>

    <div class="table-container">
        <table>
            <thead class="headerTable">
                <tr class="headerRow">
                    <th class="headerCell">Periodo</th>
                    <th class="headerCell">Rango de Fecha</th>
                    <th class="headerCell">Prórroga</th>
                    <th class="headerCell" style="width: 5%;"></th>
                    <th class="headerCell" style="width: 7%; padding-right: 15px;">
                        <div class="loader" *ngIf="!periodsProcess"></div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="periodsProcess && periodsProcess.length > 0; else noElements">
                <tr class="dataRow" *ngFor="let periodProcess of periodsProcess">
                    <td class="dataIndiCell">{{periodProcess.tipoProceso.nombre}}</td>
                    <td class="dataIndiCell">{{periodProcess.fechaInicio | date: 'dd/MM/yyyy'}} -
                        {{periodProcess.fechaFin | date: 'dd/MM/yyyy'}}</td>
                    <td class="dataIndiCell">{{periodProcess.fechaProroga | date: 'dd/MM/yyyy'}} </td>
                    <td class="dataIndiCell"><mat-icon class="editIcon" matTooltip="Editar proceso."
                            (click)="setValueToEdit(periodProcess)">edit</mat-icon></td>
                    <td class="dataIndiCell"><mat-icon class="removeIcon" matTooltip="Eliminar proceso."
                            (click)="deletePeriodProcess(periodProcess.idPeriodoAcuerdo)">delete</mat-icon></td>
                </tr>
            </tbody>
            <tfoot *ngIf="pagination && pagination.totalPage">
                <tr class="paginatorRow" >
                    <ng-container *ngFor="let td of [1, 2, 3]">
                        <td class="dataIndiCell"></td>
                    </ng-container>
                    <td class="paginationCell"><span style="color: #888;">{{pagination.totalItem}} Items</span></td>
                    <td class="paginationCell">
                        <span style="display: flex; align-items: center;" *ngIf="pagination.totalPage > 1">
                            <mat-icon class="rowIcon" matTooltip="Pagina anterior." (click)="previousPage()">navigate_before</mat-icon>
                            <h5 style="margin: 0;">{{page}} / {{pagination.totalPage}}</h5>
                            <mat-icon class="rowIcon" matTooltip="Pagina siguiente." (click)="nextPage()">navigate_next</mat-icon>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell" *ngIf="periodsProcess && periodsProcess.length == 0; else searching">No hay elementos que mostrar.</td>
                <ng-template #searching>
                    <td class="dataIndiCell">Buscando elementos.</td>
                  </ng-template>
                <ng-container *ngFor="let td of [1, 2, 3, 4]">
                    <td class="dataIndiCell"></td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>
</div>