.line1, .line2, .line3, .line4, .line5 {
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background: linear-gradient(90deg, #ccc 25%, #e0e0e0 50%, #ccc 75%);
  background-size: 200% 100%;
  animation: gradientLoading 1.5s infinite ease-in-out;
}

.loading-text {
  font-size: 20px;  /* Ajusta el tamaño de la fuente según sea necesario */
  /* height: 35px;   */
  width: 100%;
  color: transparent; /* Hace que el texto sea transparente */
  background: linear-gradient(90deg, #aaa 25%, #e0e0e0 50%, #aaa 75%);
  background-size: 200% 100%;
  animation: gradientLoading 1.5s infinite linear;
  -webkit-background-clip: text; /* Para navegadores WebKit */
  background-clip: text; /* Aplica el clip de fondo al texto */
}

.line2{
  height: 25px;
  width: 50%;
}

.line3{
  height: 17px;
  width: 90%;
}

.line4{
  height: 26px;
  width: 25%;
}

.line5{
  height: 12px;
  width: 70%;
}

.cards-loader-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 16px 0;
}

.card {
  /* height: 150px; */
  border-radius: 20px;
  background: #fff;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #ddd;
  transition: 0.5s ease-out;
  overflow: visible;
  cursor: pointer;
}

@keyframes gradientLoading {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}
