.container-verAcuerdo {
  margin: 25px;
  border: 1px solid black;
}

.header {
  display: grid;
  grid-template-columns: 85% 15%;
  border-bottom: 1px solid black;
}

.header > :nth-child(1){
  border-right: 1px solid black;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 2px;
}

.logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.title2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.subtitle2 {
  font-size: 0.875rem;
  color: #6b7280;
  margin: 0;
}

.group-info {
  display: grid;
  place-items: center;
  margin-right: 15px;
}

.group-title {
  font-weight: 600;
  margin: 0;
}

.info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid black;
}

.info-row > :nth-child(1){
  border-right: 1px solid black;
}

.mt-2 {
  margin-top: 0.5rem;
}

.table-container {
  margin-top: 1rem;
}

.table-title {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  padding: 5px;
}

.evaluation-table {
  width: 100%;
  text-align: left;
  border-top: 1px solid black;
  border-collapse: collapse;
  border-radius: 0;
  background-color: white;

}

.evaluation-table th, 
.evaluation-table td {
  border: 1px solid black; 
  padding: 8px; 
}

.evaluation-table tr td:first-child {
  border-left: none;
}

.evaluation-table tr td:last-child {
  border-right: none;
}

.evaluation-table thead th:first-child {
  border-left: none;
}

.evaluation-table thead th:last-child {
  border-right: none;
}

.evaluation-table tr:last-child td {
  border-bottom: none;
}

p{
  font-size: 16px;
}