<div class="fuctionContent">
  <div class="title">
    <h1>Acuerdo de Desempeño</h1>
  </div>
  <div>
    <button class="backButton" mat-stroked-button [routerLink]="['/layout/acuerdos']"><mat-icon
        class="backIcon">arrow_back
      </mat-icon>Acuerdos de Desempeño</button>
  </div>
</div>

<div>
  <ng-container *ngIf="!agreement">
    <div class="container-loaderMother" style="margin: 20px;">
      <div class="loaderMother"></div>
      <div class="loading-text">Cargando...</div>
    </div>
  </ng-container>


  <div style="display: flex; justify-content: end; margin-bottom: 15px;"
    *ngIf="agreement && agreement.colaboradorObj.estadoObj.idEstado == 1">

    <button *ngIf="userLogged.role !== 'supervisado'" matTooltip="Imprimir" class="btnNavegar" printSectionId="AD"
      [useExistingCss]="true" ngxPrint><mat-icon style="font-size: 22px; margin: 5px;">print</mat-icon>
    </button> &nbsp;

    <div style="display: flex; gap: 5px;">
      <button
        *ngIf="userLogged.role == 'Analista' && agreement.flujoObj.idFlujo == 2 || userLogged.role == 'Analista' && userLogged.Position == 'Analista de Planificación' && agreement.flujoObj.idFlujo == 3"
        type="button" class="cleanButton" (click)="agreementDesicion(false)">
        Rechazar A.D.
      </button>
      <button
        *ngIf="userLogged.role == 'Analista' && agreement.flujoObj.idFlujo == 2 || userLogged.role == 'Analista' && userLogged.Position == 'Analista de Planificación'&& agreement.flujoObj.idFlujo == 3"
        type="submit" class="saveButton" (click)="agreementDesicion(true)">Aceptar A.D.</button>
    </div>
  </div>

  <div id="AD" *ngIf="agreement">

    <div class="logo-container" *ngIf="agreement.colaboradorObj.grupoObj.idGrupo != 5">
      <img src="images.png" alt="ISFODOSU Logo" class="logo">
      <div class="title-container">
        <h1 class="title2">ISFODOSU</h1>
        <p class="subtitle2">Instituto Superior de Formación Docente Salome Ureña</p>
      </div>
    </div>

    <div class="container-verAcuerdo">

      <div class="header" *ngIf="agreement.colaboradorObj.grupoObj.idGrupo == 5">
        <div class="logo-container">
          <img src="images.png" alt="ISFODOSU Logo" class="logo">
          <div class="title-container">
            <h1 class="title2">ISFODOSU</h1>
            <p class="subtitle2">INSTITUCIÓN: Instituto Superior de Formación Docente Salome Ureña</p>
          </div>
        </div>

        <div class="group-info">
          <div style=" border-bottom: 1px solid black; width: 100%; box-sizing: border-box;"></div>
          <div></div>
        </div>
      </div>

      <div style="padding: 5px; border-bottom: 1px solid black;">
        <p style="text-align: center;"> <strong>SUB-SISTEMA DE EVALUACIÓN DEL DESEMPEÑO LABORAL</strong></p>
      </div>

      <div style="padding: 5px; border-bottom: 1px solid black;">
        <p style="text-align: center;" *ngIf="agreement.colaboradorObj.grupoObj.idGrupo != 5"> <strong>Formulario para
            Acuerdo de Desempeño Laboral de servidores de los Grupos Ocupacionales I, II, III y IV</strong></p>
        <p style="text-align: center;" *ngIf="agreement.colaboradorObj.grupoObj.idGrupo == 5"> <strong>Formulario para
            Acuerdo de Desempeño Laboral de servidores de los Grupos Ocupacionales V</strong></p>
      </div>

      <div style="padding: 5px; border-bottom: 1px solid black;">
        <p> <strong>INSTITUCIÓN:</strong> Instituto Superior de Formación Docente Salome Ureña</p>
      </div>

      <div class="info-row">
        <div style="padding: 5px;">
          <p> <strong>PERIODO A EVALUAR:</strong> {{agreement.acuerdoDuracion.periodo | titlecase}}</p>
        </div>
        <div style="padding: 5px;">
          <p> <strong>UNIDAD ORGANIZATIVA:</strong> {{appHelper.getUnitOrg(agreement.colaboradorObj.division,
            agreement.colaboradorObj.departamento, agreement.colaboradorObj.direccion,
            agreement.colaboradorObj.viceRectoria).nombre}}</p>
        </div>
      </div>

      <div class="info-row">
        <div style="padding: 5px;">
          <p> <strong>DATOS SERVIDOR(A) EVALUADO(A)</strong></p>
        </div>
        <div style="padding: 5px;">
          <p><strong>DATOS SUPERVISOR(A) INMEDIATO(A) Y/O EVALUADOR/A</strong></p>
        </div>
      </div>

      <div class="info-row">
        <p style="padding: 10px 5px 5px 5px;"><strong>NOMBRE: </strong>{{agreement.colaboradorObj.nombre}}
          {{agreement.colaboradorObj.apellidos}}</p>
        <p style="padding: 10px 5px 5px 5px;"><strong>NOMBRE: </strong>
          {{agreement.colaboradorObj.supervisorObj.nombre}}
          {{agreement.colaboradorObj.supervisorObj.apellidos}}</p>
      </div>

      <div class="info-row">
        <div style="padding: 10px 5px 5px 5px;">
          <p><strong>CARGO ACTUAL: </strong>{{agreement.colaboradorObj.cargo.nombre}}</p>
        </div>
        <div style="padding: 10px 5px 5px 5px;">
          <p><strong>CARGO ACTUAL: </strong>{{agreement.colaboradorObj.supervisorObj.cargoObj.nombre}} </p>
        </div>
      </div>

      <div class="table-title" *ngIf="agreement.colaboradorObj.grupoObj.idGrupo != 5">
        <div style="grid-column: 1/5; display: flex; align-items: end; padding: 8px 8px 2px 8px;"><strong>Valor del
            Componente LOGRO DE METAS: {{agreement.tipoAcuerdoObj.puntuacion}} puntos</strong></div>
        <div style="grid-column: 5/7; display: grid; place-items: center;border-left: 1px solid black; padding: 8px 0;">
          <strong>Evaluación de las Metas</strong>
        </div>
      </div>

      <div style="padding: 5px; border-bottom: 1px solid black;" *ngIf="agreement.colaboradorObj.grupoObj.idGrupo == 5">
        <p> <strong>Valor del Componente LOGRO DE METAS: {{agreement.tipoAcuerdoObj.puntuacion}} puntos</strong></p>
      </div>

      <div class="table-title-GOV" *ngIf="agreement.colaboradorObj.grupoObj.idGrupo == 5">
        <div
          style="grid-column: 1/6; display: flex; padding: 8px 8px 2px 8px; text-align: center; background-color: #C5D9F1;">
          <strong>Recuerde la necesaria alineación de las Metas del Acuerdo de Desempeño laboral del directivo del área
            con las Metas del Plan Operativo Anual (POA) de la unidad</strong>
        </div>
        <div
          style="grid-column: 6/8; display: grid; place-items: center;border-left: 1px solid black; padding: 8px 0; background-color: #C5D9F1;">
          <strong>Evaluación de las Metas</strong>
        </div>
      </div>

      <table class="evaluation-table">
        <thead>
          <th style="width: 3%; text-align: center;">No.</th>
          <th style="width: 20%; text-align: center;" *ngIf="agreement.colaboradorObj.grupoObj.idGrupo == 5">Metas del
            Plan Operativo Anual -POA- de la Unidad Organizativa </th>
          <th style="text-align: center;"
            [ngClass]="agreement.colaboradorObj.grupoObj.idGrupo == 5 ? 'width: 20%;' : 'width: 37%;' ">Metas del (de
            la) Servidor (a)</th>
          <th style="width: 10%; text-align: center;">Ponderación o Valor en puntos de las Metas</th>
          <th style="width: 20%; text-align: center;">Medios de Verificación o Evidencias de logro de cada Meta</th>
          <th style="width: 10%; text-align: center;">Calificación Otorgada</th>
          <th style="width: 20%; text-align: center;">Observaciones / Comentarios del Evaluador/a</th>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of agreement.detalles; let i = index">
            <td style="text-align: center; font-weight: 600;">{{i+1}}</td>
            <td *ngIf="agreement.colaboradorObj.grupoObj.idGrupo == 5">{{detalle.metaObj.metaPoa || ''}}</td>
            <td>{{detalle.metaObj.nombre}}</td>
            <td style="text-align: center;">{{detalle.metaObj.valor}}</td>
            <td style="text-align: center;">{{detalle.metaObj.medioVerificacionObj.nombre}}</td>
            <td style="text-align: center;">{{detalle.calificacion}}</td>
            <td>{{detalle.observaciones == null ? detalle.observaciones : ''}}</td>
          </tr>
          <tr>
            <td></td>
            <td *ngIf="agreement.colaboradorObj.grupoObj.idGrupo == 5"></td>
            <td style="text-align: end; font-weight: 600;">Total</td>
            <td style="text-align: center; font-weight: 600;">{{totalValor}}</td>
            <td style="font-weight: 600; text-align: end;">Total</td>
            <td style="text-align: center; font-weight: 600;">{{totalCalificacion}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <table class="evaluation-table">
        <thead>
          <th style="width: 50%;">Fecha del Acuerdo:</th>
          <th style="width: 50%;">Fecha de la Evaluación:</th>
        </thead>
        <thead>
          <th style="width: 50%;">Firma Servidor/a:</th>
          <th style="width: 50%;">Firma Servidor/a:</th>
        </thead>
        <thead>
          <th style="width: 50%;">Firma Supervisor/a Inmediato/a:</th>
          <th style="width: 50%;">Firma Supervisor/a Inmediato/a:</th>
        </thead>
      </table>
      <div style="padding: 8px;">
        <p> <strong>Fechas de Monitoreos:</strong></p>
      </div>
      <table class="evaluation-table">
        <thead>
          <th style="width: 50%;">1)</th>
          <th style="width: 50%;">3)</th>
        </thead>
        <thead>
          <th style="width: 50%; border-bottom: none;">2)</th>
          <th style="width: 50%; border-bottom: none;"></th>
        </thead>
      </table>
    </div>
  </div>

  <div style="display: flex; margin: 0; justify-content: space-between; "
    *ngIf="agreement && userLogged.role == 'Analista' && agreement.colaboradorObj.estadoObj.idEstado == 1 || agreement && userLogged.role == 'Encargado' && agreement.colaboradorObj.estadoObj.idEstado == 1 ">
    
    <form style="width: 100%; display: flex; " [formGroup]="commentsForm" (submit)="postComment()">
        <mat-form-field style="flex: 1;">
          <mat-label>¿Algun comentario o correcion necesaria?</mat-label>
          <textarea matInput maxlength="400" formControlName="descripcion"></textarea>
        </mat-form-field>

        <button type="submit" style="height: 56px; margin: 0 0 0 5px; border: none; cursor: pointer; background-color: #4caf4f36; border-radius: 10px; padding: 0 10px;">
          <mat-icon class="editIcon">send</mat-icon>
        </button>

      <!-- <div style="display: flex; justify-content: end; gap: 5px;">
        <button type="button" class="cleanButton" (click)="closeModal()">Cerrar</button>
        <button type="submit" class="saveButton">Guardar cambios</button>
      </div> -->
    </form>
  </div>
</div>