<div class="fuctionContent">
  <div class="title">
    <h1>Minuta de {{typeMinuta == 1 ? 'Acuerdo De Desempeño': 'Evaluación de Competencia'}}</h1>
  </div>
  <div>
    <button *ngIf="typeMinuta == 1; else MinutaEC" class="backButton" mat-stroked-button
      [routerLink]="['/layout/acuerdos']"><mat-icon class="backIcon">arrow_back
      </mat-icon>Acuerdos de Desempeño
    </button>

    <ng-template #MinutaEC>

      <button class="backButton" mat-stroked-button [routerLink]="['/layout/evaluacion-competencias']"><mat-icon
          class="backIcon">arrow_back
        </mat-icon>Evaluaciones de Competencias
      </button>
    </ng-template>
  </div>
</div>

<div class="staticInfoContainer" *ngIf="systeminformation.currentUserSystem()">
  <span>
    <h3>Unidad Organizativa</h3>
    <h4>{{this.usuario.Unidad | titlecase}}</h4>
  </span>
  <span>
    <h3>Fecha</h3>
    <h4>20/25/2023</h4>
  </span>
  <span>
    <h3>Supervisor:</h3>
    <h4> {{systeminformation.currentUserSystem().nombre}} {{systeminformation.currentUserSystem().apellidos}}</h4>
  </span>
  <span>
    <h3>Periodo:</h3>
    <h4> {{systeminformation.activePeriod().nombre}}</h4>
  </span>
</div>

<div style="margin-top: 20px; display: flex; justify-content: space-between;">
  <h2 style="display: flex; align-items: end;">Participantes</h2>

  <a [matTooltip]="docName" *ngIf="protocol && protocol.documentosObj.length > 0" target="_blank" class="btnInfo"
    [href]="protocol.documentosObj[0].enlace"
    style="padding: 4px 3px 0 3px; text-decoration: none; height: 30px;"><mat-icon>question_mark</mat-icon></a>
</div>

<div class="table-container">
  <table>
    <thead class="headerTable">
      <tr class="headerRow">
        <th class="headerCell">Nombre</th>
        <th class="headerCell">Cargo</th>
        <th class="headerCell">Grupo ocupacional</th>
        <th class="headerCell" *ngIf="typeMinuta == 1">Estado</th>
        <th class="headerCell" style="width: 5%;">
          <div style="justify-self: end;" *ngIf="agreement.length == 0 && evaluationsCompetencies.length == 0" class="loader"></div>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="typeMinuta == 1; else TypeMinutaEC">
      <tr class="dataRow" *ngFor="let acuerdo of agreement">
        <td class="dataIndiCell">{{acuerdo.colaboradorObj.nombre}} {{acuerdo.colaboradorObj.apellidos}}</td>
        <td class="dataIndiCell">{{acuerdo.colaboradorObj.cargo.nombre}}</td>
        <td class="dataIndiCell">{{acuerdo.colaboradorObj.grupoObj.nombre}}</td>
        <td class="dataIndiCell">Proceso de {{acuerdo.flujoObj.nombre}}</td>
        <td class="dataIndiCell">
          <button type="button" class="btnCerrar"
            (click)="openModalMotivoAusencia(acuerdo.colaboradorObj.idPersona)">Ausente</button>
        </td>
      </tr>
    </tbody>
    <ng-template #TypeMinutaEC>
      <tbody >
        <tr class="dataRow" *ngFor="let acuerdo of evaluationsCompetencies">
          <td class="dataIndiCell">{{acuerdo.colaborador.nombres | titlecase}} {{acuerdo.colaborador.apellidos | titlecase}}</td>
          <td class="dataIndiCell">{{acuerdo.cargo | titlecase}}</td>
          <td class="dataIndiCell">{{acuerdo.grupoOcupacional}}</td>
          <td class="dataIndiCell">
            <button type="button" class="btnCerrar"
              (click)="openModalMotivoAusencia(acuerdo.colaborador.personaIntranetId)">Ausente</button>
          </td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>

<h2 style="margin: 20px 0px 20px 0px;">Detalles de la reunión</h2>

<form [formGroup]="formMinuta">
  <!--
  <div style="display: flex;">
    <mat-form-field appearance="fill" style="flex: 1">
      <mat-label>Proceso</mat-label>
      <mat-select formControlName="tipoProcesoId" disableRipple>
        <ng-container *ngIf="periodsProcess && periodsProcess.length; else noPosition">
          <mat-option [value]="process.idPeriodoAcuerdo" *ngFor="let process of periodsProcess">
            {{process.tipoProceso.nombre}}
          </mat-option>
        </ng-container>
        <ng-template #noPosition>
          <mat-option>No hay campos disponibles</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
  </div> -->

  <div style="display: flex;" *ngIf="typeMinuta == 1">
    <mat-form-field style="flex: 1; ">
      <mat-label>Agenda de la reunión</mat-label>
      <textarea matInput formControlName="agendaReunion" maxlength="200"></textarea>
      <mat-error *ngIf="formMinuta.get('agendaReunion')?.hasError('Muylargo')">
        La agenda de la reunión debe ser mas corta.
      </mat-error>
    </mat-form-field>
  </div>

  <div style="display: flex;">
    <mat-form-field style="flex: 1;">
      <mat-label>Desarrollo de la reunión</mat-label>
      <textarea matInput formControlName="desarrollo" maxlength="200"></textarea>
      <mat-error *ngIf="formMinuta.get('desarrollo')?.hasError('Muylargo')">
        La desarrollo de la reunión debe ser mas corta.
      </mat-error>
    </mat-form-field>
  </div>

  <div style="display: flex;" *ngIf="typeMinuta == 1">
    <mat-form-field style="flex: 1;">
      <mat-label>Conclusiones del monitoreo de los acuerdos de desempeño</mat-label>
      <textarea matInput formControlName="conclusiones" maxlength="200"></textarea>
      <mat-error *ngIf="formMinuta.get('conclusiones')?.hasError('Muylargo')">
        La Conclusiones del monitoreo de los acuerdos de desempeño debe ser explicado de una marena.
      </mat-error>
    </mat-form-field>
  </div>
</form>

<div style="display: flex; justify-content: end;">
  <button class="saveButton" (click)="save()">Enviar Minuta</button>
</div>