<div style="display: flex; justify-content: space-between; align-items: center; width: 600px;">
    <span>
        <h3 style="color: white;">No se pudo conectar con el servidor.</h3> 
        <h4 style="color: white;">Intente mas tarde, Sí el problema persiste contacte con el administrador.</h4> 
    </span>
    <mat-icon style="color: #F44336;">sick</mat-icon>
</div>

<button (click)="closeSnackbar()" mat-stroked-button style="width: 100%; background-color: #F44336; color: white; margin-top: 10px;" >
    Aceptar
</button>