.info-card {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border: 1px solid #d9e2f3;
  border-radius: 5px;
  background-color: #f4f8ff;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.label {
  margin-right: 5px;
}

.AcuerdosForms {
  box-sizing: border-box;
  margin-top: 5px;
  min-height: 15vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.saveButtons {
  display: flex;
  justify-content: flex-end
}
