<div class="fuctionContent">

  <div class="title">
    <h1>Gestionar Acuerdo</h1>
  </div>

  <div>
    <div>
      <button class="backButton" mat-stroked-button [routerLink]="['/layout/acuerdos']"><mat-icon
          class="backIcon">arrow_back
        </mat-icon>Acuerdos de Desempeño</button>
    </div>
  </div>

</div>

<div class="staticInfoContainer" *ngIf="collaborator && agreement">
  <span>
    <h3>Nombre Servidor Evaluado</h3>
    <h4>{{collaborator.nombre}} {{collaborator.apellidos}}</h4>
  </span>
  <span>
    <h3>Nombre del Cargo</h3>
    <h4>{{collaborator.cargo.nombre}}</h4>
  </span>
  <span *ngIf="agreement">
    <h3>Periodo a Evaluar</h3>
    <h4> {{agreement.periodo.nombre}}</h4>
  </span>
  <span>
    <h3>Grupo Ocupacional</h3>
    <h4>{{collaborator.grupoObj.nombre}}</h4>
  </span>
  <span>
    <h3>Puntos de Acuerdo</h3>
    <h4>{{agreement.puntos}}</h4>
  </span>
</div>

<app-loader-box *ngIf="!collaborator && !agreement"></app-loader-box>

<div style="margin-top: 10px; display: flex; justify-content: space-between; align-items: center;">
  <h3>Metas</h3>
  <a [matTooltip]="docName" *ngIf="protocol && protocol.documentosObj.length > 0" target="_blank" class="btnInfo"
    [href]="protocol.documentosObj[0].enlace"
    style="padding: 4px 3px 0 3px; text-decoration: none; height: 30px;"><mat-icon>question_mark</mat-icon></a>
</div>

<div class="AcuerdosForms" *ngIf="collaborator">
  <div>
    <form [formGroup]="goalForm" (submit)="add()">

      <div style="display: flex; gap: 5px">

        <ng-container *ngIf="this.collaborator.grupoObj.idGrupo == 5">

          <mat-form-field appearance="fill" style="flex: 1">
            <mat-label>Meta del plan operativo anual</mat-label>
            <input matInput [matAutocomplete]="auto" appearance="fill" formControlName="metaPoa" (input)="getGoalPOA()">
            <mat-autocomplete #auto='matAutocomplete'>
              <ng-container *ngIf="goalsPoa && goalsPoa.length > 0; else noGoalPoa">
                <mat-option *ngFor="let goalPoa of goalsPoa" [value]="goalPoa.nombre">
                  {{goalPoa.nombre}}
                </mat-option>
              </ng-container>
              <ng-template #noGoalPoa>
                <mat-option>No hay campos disponibles</mat-option>
              </ng-template>
            </mat-autocomplete>

            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </mat-form-field>
        </ng-container>

        <mat-form-field style="flex:1">
          <mat-label>Meta</mat-label>
          <input matInput formControlName="nombre">

          <!-- Error: La meta no es específica -->
          <mat-error *ngIf="goalForm.get('nombre')?.hasError('notSpecific')">
            La meta debe ser específica y suficientemente detallada.
          </mat-error>

          <!-- Error: La meta no es medible -->
          <mat-error *ngIf="goalForm.get('nombre')?.hasError('notMeasurable') && 
                   !goalForm.get('nombre')?.hasError('notSpecific')">
            La meta debe ser medible (incluir un número o cantidad).
          </mat-error>

          <!-- Error: Falta referencia temporal -->
          <mat-error *ngIf="goalForm.get('nombre')?.hasError('missingTime') && 
                   !goalForm.get('nombre')?.hasError('notSpecific') && 
                   !goalForm.get('nombre')?.hasError('notMeasurable')">
            La meta debe incluir una referencia temporal válida (día, mes y año; mes y año; o solo el año).
          </mat-error>

          <!-- Error: Falta un número adicional fuera de la referencia temporal -->
          <mat-error *ngIf="goalForm.get('nombre')?.hasError('numberOutsideTime') && 
                   !goalForm.get('nombre')?.hasError('notSpecific') && 
                   !goalForm.get('nombre')?.hasError('notMeasurable') && 
                   !goalForm.get('nombre')?.hasError('missingTime')">
            La meta debe incluir un número que permita medir su cumplimiento, fuera de la referencia temporal.
          </mat-error>
        </mat-form-field>

      </div>

      <div style="display: flex; gap: 5px;">

        <mat-form-field style="flex:1">
          <mat-label>Medio de verificación</mat-label>
          <mat-select formControlName="idMedio">
            <mat-option *ngFor="let medio of verificacionMethodList" [value]="medio.idMedio">
              {{medio.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field style="flex:2">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="descripcionMedioVerificacion">
        </mat-form-field>

        <mat-form-field style="flex:1">
          <mat-label>Valor</mat-label>
          <input matInput type="number" formControlName="valor">
          <mat-error *ngIf="goalForm.get('valor')?.invalid">
            Ingrese un valor válido.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="saveButtons">
        <ng-container *ngIf="this.indexEditando != null;">
          <button type="button" class="btnCerrar" (click)="cancelEdition()">Cancelar</button> &nbsp;
        </ng-container>
        <button type="submit" class="saveButton">
          {{indexEditando != null ? 'Editar' : 'Agregar'}}</button>
        &nbsp;
      </div>

    </form>
  </div>
</div>

<!-- <app-loader-box  ></app-loader-box> -->
<app-loader [type]="1" *ngIf="!collaborator && !agreement"></app-loader>

<ng-container *ngIf="this.collaborator">
  <div class="table-container">
    <table>
      <thead class="headerTable">
        <tr class="headerRow">
          <th class="headerCell">Metas</th>
          <th class="headerCell" >
            <div style="display: flex; justify-content: center;">
              Medio de verificación
            </div>
          </th>
          <th class="headerCell">Descripción</th>
          <ng-container *ngIf="this.collaborator.grupoObj.idGrupo == 5">
            <th class="headerCell">Meta poa</th>
          </ng-container>
          <th class="headerCell" >
            <div style="display: flex; justify-content: center;">
              Valor
            </div>
          </th>
          <th class="headerCell" ></th>
          <th class="headerCell" >
            <div *ngIf="isLoading ===  true" class="loader"></div>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="goalDetails && goalDetails.length > 0; else noElements">
        <tr class="dataRow" *ngFor="let goal of goalDetails; let i = index">

          <td class="dataIndiCell" style="max-width: 350px;" [matTooltip]="goal.nombre">{{goal.nombre}}</td>
          <td class="dataIndiCell">
            <div style="display: flex; justify-content: center;">
              {{goal.nombreMedio}}
            </div>
          </td>
          <td class="dataIndiCell">{{goal.descripcionMedioVerificacion != null ? goal.descripcionMedioVerificacion : 'No Asignada'}}</td>
          <ng-container *ngIf="this.collaborator.grupoObj.idGrupo == 5">
            <td class="dataIndiCell" [matTooltip]="goal.metaPoa">{{goal.metaPoa != null ? goal.metaPoa : 'No Asignada'}}</td>
          </ng-container>
          <td class="dataIndiCell">
            <div style="display: flex; justify-content: center;">
              {{goal.valor}} Puntos
            </div>
          </td>
          <td class="dataIndiCell">
            <ng-container *ngIf="goal.isTranversal != true">
              <mat-icon class="editIcon" (click)="cargarDetalleEnFormularioIndex(i, goal.idMeta)">edit</mat-icon>
            </ng-container>
          </td>
          <td class="dataIndiCell">
            <ng-container *ngIf="goal.isTranversal != true">
              <mat-icon class="removeIcon" (click)="deletedetalle(i, goal.idAcuerdoDetalle)">delete
              </mat-icon>
            </ng-container>
          </td>
        </tr>
      </tbody>
      <ng-template #noElements>
        <tbody>
          <tr class="dataRow">
            <ng-container *ngIf="this.collaborator.grupoObj.idGrupo == 5">
              <td class="dataIndiCell"></td>
            </ng-container>
            <td class="dataIndiCell" *ngIf="goalDetails && goalDetails.length == 0; else searching">No hay elementos que
              mostrar.</td>
            <ng-template #searching>
              <td class="dataIndiCell">Buscando elementos.</td>
            </ng-template>
            <!-- <ng-container *ngFor="let td of [1, 2, 3, 5]"> -->
              <td colspan="5" class="dataIndiCell"></td>
            <!-- </ng-container> -->
          </tr>
        </tbody>
      </ng-template>
      <tfoot>
        <tr class="paginatorRow" *ngIf="goalDetails && goalDetails.length !== 0">
          <td class="dataIndiCell"><strong>Total</strong>:</td>
          <td class="dataIndiCell"></td>
          <td class="dataIndiCell"></td>
          <ng-container *ngIf="this.collaborator.grupoObj.idGrupo == 5">
            <td class="dataIndiCell"></td>
          </ng-container>
          <td class="dataIndiCell"><strong>{{totalValor}}</strong></td>
          <td class="dataIndiCell">

          </td>
          <td class="dataIndiCell">
            <span style="display: flex; align-items: center;">

            </span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</ng-container>
<div class="saveButtons" style="margin-top: 20px;">
  <ng-container *ngIf="activateSave">
    <button type="submit" class="saveButton" (click)="save()">Guardar Cambios</button> &nbsp;
  </ng-container>
</div>