<h2 class="Stitle">Periodos</h2>
<div>
    <form style=" margin: 15px 0 35px 0" [formGroup]="periodsForm" (ngSubmit)="saveChanges()">

        <div style="display: flex;">
            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Rango de Fecha</mat-label>
                <mat-date-range-input [rangePicker]="picker2">
                    <input matStartDate placeholder="Fecha Inicial" formControlName="fechaInicio">
                    <input matEndDate placeholder="Fecha Final" formControlName="fechaFin">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-date-range-picker #picker2></mat-date-range-picker>
            </mat-form-field>
        </div>

        <button type="submit" class="saveButton">Guardar cambios</button> &nbsp;
        <button type="button" class="cleanButton" (click)="periodsForm.reset()" *ngIf="periodsForm.value.idPeriodo">Limpiar
            edición</button>

    </form>

    <h3 class="Stitle">Listado de periodos</h3>

    <div class="table-container">
        <table>
            <thead class="headerTable">
                <tr class="headerRow">
                    <th class="headerCell">Periodo</th>
                    <th class="headerCell">Rango de Fecha</th>
                    <th class="headerCell">Activar periodo</th>
                    <th class="headerCell" style="width: 5%;"></th>
                    <th class="headerCell" style="width: 7%; padding-right: 15px;">
                        <div class="loader" *ngIf="!periods"></div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="periods && periods.length > 0; else noElements">
                <tr class="dataRow" *ngFor="let period of periods">
                    <td class="dataIndiCell">{{period.nombre}}</td>
                    <td class="dataIndiCell">{{period.fechaInicio | date: 'dd/MM/yyyy'}} - {{period.fechaFin | date: 'dd/MM/yyyy'}}</td>
                    <td class="dataIndiCell">
                        <mat-slide-toggle color [(ngModel)]="period.estado"
                            (change)="activatePeriod(period.idPeriodo)"></mat-slide-toggle>
                    </td>
                    <td class="dataIndiCell"><mat-icon class="editIcon" (click)="setValueToEdit(period)">edit</mat-icon></td>
                    <td class="dataIndiCell"><mat-icon class="removeIcon" (click)="deletePeriod(period.idPeriodo)">delete</mat-icon></td>
                </tr>
            </tbody>
            <tfoot *ngIf="pagination && pagination.totalPage">
                <tr class="paginatorRow" >
                    <ng-container *ngFor="let td of [1, 2, 3]">
                        <td class="dataIndiCell"></td>
                    </ng-container>
                    <td class="paginationCell"><span style="color: #888;">{{pagination.totalItem}} Items</span></td>
                    <td class="paginationCell">
                        <span style="display: flex; align-items: center;">
                            <mat-icon class="rowIcon" (click)="previousPage()">navigate_before</mat-icon>
                            <h5 style="margin: 0;">{{page}} / {{pagination.totalPage}}</h5>
                            <mat-icon class="rowIcon" (click)="nextPage()">navigate_next</mat-icon>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell">No hay elementos que mostrar.</td>
                <ng-container *ngFor="let td of [1, 2, 3, 4]">
                    <td class="dataIndiCell"></td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>
</div>