<div class="fuctionContent" style="padding-bottom: 3px;">
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">

        <div class="title">
            <h1>Evaluación De Competencias</h1>
        </div>

        <a [matTooltip]="docName" *ngIf="selectGroup && protocol && protocol.documentosObj.length > 0" target="_blank"
            class="btnInfo" [href]="protocol.documentosObj[0].enlace"
            style="padding: 4px 3px 0 3px; text-decoration: none; height: 30px;"><mat-icon>question_mark</mat-icon></a>
    </div>
</div>


<div style="display: flex; justify-content: space-between; ">
    <div>
        <h3
            *ngIf="rolActivo == 'Supervisor' || rolActivo == 'supervisado' || rolActivo == 'Encargado' && selectGroup; else noSup ">
            {{userLogged.Unidad | titlecase}}</h3>
        <ng-template #noSup>
            <h3>Lista De Evaluaciones de Competencias Trabajadas.</h3>
        </ng-template>
        <h5 style="color: green;" *ngIf="activeProcess">{{activeProcess.tipoProceso.nombre}}:
            {{activeProcess.fechaInicio |
            date: 'dd/MM/yyyy'}} -
            {{activeProcess.fechaFin | date: 'dd/MM/yyyy'}}</h5>
    </div>

    <div style="display: flex; align-items: center; gap: 15px;">

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="margin-bottom: 15px;"
            *ngIf="this.rolActivo == 'Encargado'" [(ngModel)]="selectGroup">
            <mat-button-toggle [value]="true" [disabled]="charge" (click)="getSupervisorWithSubordinates(false)">Mis
                Supervisados</mat-button-toggle>
            <mat-button-toggle [value]="false" [disabled]="charge" (click)="getSupervisorWithSubordinates(false)">Todos
                los
                Colaboradores</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field appearance="fill" *ngIf="!selectGroup">
            <mat-label>Buscar colaborador</mat-label>
            <input matInput [(ngModel)]="filter" (input)="getSupervisorWithSubordinates(true)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

    </div>
</div>

<div>
    
    <!-- <div class="traking" *ngIf="newMinuta != undefined && newMinuta.existe && selectGroup && evaluationsCompetencies.length > 0"> -->
        <div class="stepper">
            <div class="step completed">
              <div class="circle">1</div>
              <div class="label">Creación de minuta</div>
            </div>
            <div class="line completed-line"></div>
            
            <div class="step in-progress">
              <div class="circle">2</div>
              <div class="label">Pendiente de validación</div>
            </div>
            <div class="line"></div>
            
            <div class="step">
              <div class="circle">3</div>
              <div class="label">Pendiente de documentación</div>
            </div>
            <div class="line"></div>
            
            <div class="step">
              <div class="circle">4</div>
              <div class="label">Completada</div>
            </div>
          </div>
    <!-- </div> -->

    <div style="display: flex; justify-content: end; gap: 20px;"
        *ngIf="selectGroup == false || newMinuta != undefined && selectGroup && newMinuta.existe == false">
        <div class="countContainer">
            <mat-icon style=" color: green;">check</mat-icon> &nbsp;
            <h4 style="margin-bottom: 2px;  color: green;">{{evaluationCompetenciesCount.tienen}} Realizados.</h4>
        </div>
        <div class="countContainer">
            <mat-icon style=" color: #f44336;">close</mat-icon>
            <h4 style="margin-bottom: 2px; color: #f44336;">{{evaluationCompetenciesCount.noTienen}} Faltantes.</h4>
        </div>
    </div>
</div>

<div class="table-container" style="margin-top: 10px;">
    <table>
        <thead class="headerTable">
            <tr class="headerRow">
                <th class="headerCell">Nombre</th>
                <th class="headerCell">Unidad organizativa</th>
                <th class="headerCell">Cargo</th>
                <th class="headerCell">
                    <div style="display: flex; justify-content: center;">
                        G. Ocupacional
                    </div>
                </th>
                <th class="headerCell" style="width: 5%;"></th>
                <th class="headerCell" style="width: 7%; padding-right: 15px;">
                    <div class="loader" *ngIf="!supervisorWithSubordinates || charge"></div>
                </th>
            </tr>
        </thead>
        <tbody
            *ngIf="supervisorWithSubordinates && supervisorWithSubordinates.length > 0 || evaluationsCompetencies && evaluationsCompetencies.length > 0; else noElements">
            <tr class="dataRow" *ngFor="let subordinate of supervisorWithSubordinates">
                <td class="dataIndiCell">{{subordinate.nombre}} {{subordinate.apellidos}}</td>
                <td class="dataIndiCell">
                    <ng-container *ngIf="appHelper.getUnitOrg(
                            subordinate.division,
                            subordinate.departamento,
                            subordinate.direccion,
                            subordinate.viceRectoria
                          ).nombre !== 'Unidad organizativa no asignada'; else noUnidad">
                        <span [matTooltip]="appHelper.getUnitOrg(
                                subordinate.division,
                                subordinate.departamento,
                                subordinate.direccion,
                                subordinate.viceRectoria
                                ).nombre | titlecase">
                            {{
                            appHelper.getUnitOrg(
                            subordinate.division,
                            subordinate.departamento,
                            subordinate.direccion,
                            subordinate.viceRectoria
                            ).nombre | titlecase
                            }}
                        </span>
                    </ng-container>

                    <ng-template #noUnidad>
                        <span class="badge-red" matTooltip="Validar que el usuario tenga unidad organizativa asignada.">
                            <mat-icon matSuffix style="margin-right: 5px;">warning</mat-icon> Unidad organizativa no
                            encontrada.</span>
                    </ng-template>
                </td>
                <td class="dataIndiCell">{{subordinate.cargo.nombre}}</td>
                <td class="dataIndiCell">
                    <div style="display: flex; justify-content: center;">
                        {{subordinate.grupoObj.nombre}}
                    </div>
                </td>
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell"><mat-icon matTooltip="Crear evaluación de competencia."
                        [routerLink]="['/layout/evaluacion-competencias/evaluacion-competencia-persona']"
                        [queryParams]="{ colaboradorId: subordinate.idPersona }" class="editIcon">add</mat-icon></td>
            </tr>
            <tr class="dataRow" *ngFor="let subordinateEvaluation of evaluationsCompetencies">
                <td class="dataIndiCell">{{subordinateEvaluation.colaborador.nombres | titlecase}}
                    {{subordinateEvaluation.colaborador.apellidos | titlecase}}</td>
                <td class="dataIndiCell">
                    <ng-container
                        *ngIf="subordinateEvaluation.unidadOrg.length > 0 && subordinateEvaluation.unidadOrg.length != null; else noUnidad">
                        <span [matTooltip]="subordinateEvaluation.unidadOrg | titlecase">
                            {{subordinateEvaluation.unidadOrg| titlecase}}
                        </span>
                    </ng-container>

                    <ng-template #noUnidad>
                        <span class="badge-red" matTooltip="Validar que el usuario tenga unidad organizativa asignada.">
                            <mat-icon matSuffix style="margin-right: 5px;">warning</mat-icon> Unidad organizativa no
                            encontrada.</span>
                    </ng-template>
                </td>
                <td class="dataIndiCell">{{subordinateEvaluation.cargo}}</td>
                <td class="dataIndiCell">
                    <div style="display: flex; justify-content: center;">
                        {{subordinateEvaluation.grupoOcupacional}}
                    </div>
                </td>
                <td class="dataIndiCell"><mat-icon matTooltip="Ver evaluación de competencia."
                        (click)="openModalviewEvaluation(subordinateEvaluation.colaborador.personaIntranetId)"
                        class="listIcon">description</mat-icon></td>
                <td *ngIf="newMinuta != undefined && newMinuta.existe == false && selectGroup && rolActivo != 'Analista'; else calificated"
                    class="dataIndiCell"><mat-icon matTooltip="Editar evaluación de competencia."
                        [routerLink]="['/layout/evaluacion-competencias/evaluacion-competencia-persona']"
                        [queryParams]="{ colaboradorId: subordinateEvaluation.colaborador.personaIntranetId }"
                        class="editIcon">edit</mat-icon>
                </td>
            </tr>
        </tbody>
        <tbody
            *ngIf="supervisorWithSubordinates && supervisorWithSubordinates.length > 0 || evaluationsCompetencies && evaluationsCompetencies.length > 0; else noElements">
            <tr class="dataRow" *ngFor="let subordinate of supervisorWithSubordinates">
                <td class="dataIndiCell">{{subordinate.nombre}} {{subordinate.apellidos}}</td>
                <td class="dataIndiCell">
                    <ng-container *ngIf="appHelper.getUnitOrg(
                            subordinate.division,
                            subordinate.departamento,
                            subordinate.direccion,
                            subordinate.viceRectoria
                          ).nombre !== 'Unidad organizativa no asignada'; else noUnidad">
                        <span [matTooltip]="appHelper.getUnitOrg(
                                subordinate.division,
                                subordinate.departamento,
                                subordinate.direccion,
                                subordinate.viceRectoria
                                ).nombre | titlecase">
                            {{
                            appHelper.getUnitOrg(
                            subordinate.division,
                            subordinate.departamento,
                            subordinate.direccion,
                            subordinate.viceRectoria
                            ).nombre | titlecase
                            }}
                        </span>
                    </ng-container>

                    <ng-template #noUnidad>
                        <span class="badge-red" matTooltip="Validar que el usuario tenga unidad organizativa asignada.">
                            <mat-icon matSuffix style="margin-right: 5px;">warning</mat-icon> Unidad organizativa no
                            encontrada.</span>
                    </ng-template>
                </td>
                <td class="dataIndiCell">{{subordinate.cargo.nombre}}</td>
                <td class="dataIndiCell">
                    <div style="display: flex; justify-content: center;">
                        {{subordinate.grupoObj.nombre}}
                    </div>
                </td>
                <td class="dataIndiCell"></td>
                <td class="dataIndiCell"><mat-icon matTooltip="Crear evaluación de competencia."
                        [routerLink]="['/layout/evaluacion-competencias/evaluacion-competencia-persona']"
                        [queryParams]="{ colaboradorId: subordinate.idPersona }" class="editIcon">add</mat-icon></td>
            </tr>
            <tr class="dataRow" *ngFor="let subordinateEvaluation of evaluationsCompetencies">
                <td class="dataIndiCell">{{subordinateEvaluation.colaborador.nombres | titlecase}}
                    {{subordinateEvaluation.colaborador.apellidos | titlecase}}</td>
                <td class="dataIndiCell">
                    <ng-container
                        *ngIf="subordinateEvaluation.unidadOrg.length > 0 && subordinateEvaluation.unidadOrg.length != null; else noUnidad">
                        <span [matTooltip]="subordinateEvaluation.unidadOrg | titlecase">
                            {{subordinateEvaluation.unidadOrg| titlecase}}
                        </span>
                    </ng-container>

                    <ng-template #noUnidad>
                        <span class="badge-red" matTooltip="Validar que el usuario tenga unidad organizativa asignada.">
                            <mat-icon matSuffix style="margin-right: 5px;">warning</mat-icon> Unidad organizativa no
                            encontrada.</span>
                    </ng-template>
                </td>
                <td class="dataIndiCell">{{subordinateEvaluation.cargo}}</td>
                <td class="dataIndiCell">
                    <div style="display: flex; justify-content: center;">
                        {{subordinateEvaluation.grupoOcupacional}}
                    </div>
                </td>
                <td class="dataIndiCell"><mat-icon matTooltip="Ver evaluación de competencia."
                        (click)="openModalviewEvaluation(subordinateEvaluation.colaborador.personaIntranetId)"
                        class="listIcon">description</mat-icon></td>
                <td *ngIf="newMinuta != undefined && newMinuta.existe == false && selectGroup && rolActivo != 'Analista'; else calificated"
                    class="dataIndiCell"><mat-icon matTooltip="Editar evaluación de competencia."
                        [routerLink]="['/layout/evaluacion-competencias/evaluacion-competencia-persona']"
                        [queryParams]="{ colaboradorId: subordinateEvaluation.colaborador.personaIntranetId }"
                        class="editIcon">edit</mat-icon>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="pagination && pagination.totalPage">
            <tr class="paginatorRow">
                <ng-container *ngFor="let td of [1, 2, 3, 4]">
                    <td class="dataIndiCell"></td>
                </ng-container>
                <td class="paginationCell"> <span style="color: #888;">{{pagination.totalItem}} Items</span></td>
                <td class="paginationCell">
                    <span style="display: flex; align-items: center;" *ngIf="pagination.totalPage > 1">
                        <mat-icon class="rowIcon" matTooltip="Pagina anterior."
                            (click)="previousPage()">navigate_before</mat-icon>
                        <h5 style="margin: 0;">{{page}} / {{pagination.totalPage}}</h5>
                        <mat-icon class="rowIcon" matTooltip="Pagina siguiente."
                            (click)="nextPage()">navigate_next</mat-icon>
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
    <br>

    <div *ngIf="newMinuta != undefined && selectGroup && supervisorWithSubordinates.length == 0 && evaluationsCompetencies.length > 0 && newMinuta.existe == false && rolActivo != 'Analista'"
        style="display: flex; justify-content: end;">
        <button [routerLink]="['/layout/evaluacion-competencias/minuta']" [queryParams]="{ typeMinuta: 2 }"
            class="saveButton">Realizar Minuta</button>
    </div>

    <div style="display: flex; justify-content: end;" *ngIf="rolActivo != 'Analista'">
        <button *ngIf="newMinuta != undefined && selectGroup && newMinuta.existe && charge == false " class="saveButton"
            (click)="openModalTemplateMinuta()"> 
            Ver Minuta
        </button> &nbsp;

        <ng-container *ngIf="newMinuta != undefined && selectGroup && newMinuta.existe && charge == false">
            <button class="saveButton" (click)="openModalListadoDocumentos()" [disabled]="!minuta[0].aprobada"
                matTooltip="En espera de la revisión de la minuta. Debe ser aprobada antes de subir el documento."
                [matTooltipDisabled]="minuta[0].aprobada">

                <ng-container *ngIf="newMinuta != undefined">
                    {{ newMinuta.docCargado == false ? "Subir Documento de Minuta Firmada" : "Documento de Minuta" }}
                </ng-container>
            </button>
        </ng-container>

    </div>

    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell"
                    *ngIf="supervisorWithSubordinates && supervisorWithSubordinates.length == 0 && evaluationsCompetencies && evaluationsCompetencies.length == 0; else searching">
                    No hay elementos que mostrar.</td>
                <ng-template #searching>
                    <td class="dataIndiCell">Buscando elementos.</td>
                </ng-template>
                <ng-container *ngFor="let td of [1, 2, 3, 4, 5]">
                    <td class="dataIndiCell"></td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>

    <ng-template #calificated>
        <td class="dataIndiCell">
            <div style="display: flex; align-items: end; color: green;">
                <mat-icon>check</mat-icon>
                <h5 style="margin-bottom: 3px;">Calificado.</h5>
            </div>
        </td>
    </ng-template>
</div>