<div class="fuctionContent" style="padding-bottom: 0px;">
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">

        <div class="title">
            <h1>Evaluación De Competencias</h1>
        </div>


        <a [matTooltip]="docName" *ngIf="selectGroup && protocol && protocol.documentosObj.length > 0" target="_blank"
            class="btnInfo" [href]="protocol.documentosObj[0].enlace"
            style="padding: 4px 3px 0 3px; text-decoration: none; height: 30px;"><mat-icon>question_mark</mat-icon></a>

    </div>
</div>


<div style="display: flex; justify-content: space-between;">

    <div>
        <h3
            *ngIf="rolActivo == 'Supervisor' || rolActivo == 'supervisado' || rolActivo == 'Encargado' && selectGroup; else noSup ">
            {{userLogged.Unidad | titlecase}}</h3>
        <ng-template #noSup>
            <h3>Lista De Evaluaciones de Competencias Trabajadas.</h3>
        </ng-template>

        <h5 style="color: green;" *ngIf="activeProcess != null; else noActiveProccess">
            {{activeProcess.tipoProceso.nombre}}:
            {{activeProcess.fechaInicio |
            date: 'dd/MM/yyyy'}} -
            {{activeProcess.fechaFin | date: 'dd/MM/yyyy'}}
        </h5>

        <ng-template #noActiveProccess>
            <h4 style="color: rgba(255, 0, 0, 0.678);">
                El periodo de evaluación de competencias no esta disponible.
            </h4>
        </ng-template>
    </div>

    <div style="display: flex; align-items: center; gap: 15px;">

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="margin-bottom: 15px;"
            *ngIf="this.rolActivo == 'Encargado'" [(ngModel)]="selectGroup">
            <mat-button-toggle [value]="true" [disabled]="charge || selectGroup"
                (click)="getSupervisorWithSubordinates(false)">Mis
                Supervisados</mat-button-toggle>
            <mat-button-toggle [value]="false" [disabled]="charge || selectGroup == false"
                (click)="getSupervisorWithSubordinates(false)">Todos
                los
                Colaboradores</mat-button-toggle>
        </mat-button-toggle-group>

    </div>
</div>

<div *ngIf="userLogged.role == 'Encargado' && selectGroup || userLogged.role == 'Supervisor' ">
    <div *ngIf="newMinuta != undefined && selectGroup">
        <h4 style="margin: 5px 0;">Procesos de Evalución de Competencias</h4>
    </div>

    <div class="stepper" *ngIf="newMinuta != undefined && selectGroup">

        <div class="step" [ngClass]="{
            'in-progress': supervisorWithSubordinates != undefined && supervisorWithSubordinates.length > 0 && newMinuta != undefined && newMinuta.existe == false,
            'completed': supervisorWithSubordinates.length == 0 || newMinuta.existe || minuta != undefined && minuta.length > 0 && minuta[0].aprobada,
            }">
            <div class="circle">1</div>
            <div class="label">Evaluación de colaboradores</div>
            <div class="labelRes">Responsable</div>
            <div class="labelResPer">{{userLogged.Firstname | titlecase}} {{userLogged.Lastname | titlecase}}</div>
        </div>
        <div class="line"
            [ngClass]="{'completed-line': newMinuta.existe || minuta != undefined && minuta.length > 0 && minuta[0].aprobada}">
        </div>

        <div class="step" [ngClass]="{
            'in-progress': supervisorWithSubordinates != undefined && supervisorWithSubordinates.length == 0 && newMinuta != undefined && newMinuta.existe == false,
            'completed': newMinuta.existe || minuta != undefined && minuta.length > 0 && minuta[0].aprobada,
            }">
            <div class="circle">2</div>
            <div class="label">Creación de minuta</div>
            <div class="labelRes">Responsable</div>
            <div class="labelResPer">{{userLogged.Firstname | titlecase}} {{userLogged.Lastname | titlecase}}</div>
        </div>
        <div class="line"
            [ngClass]="{'completed-line': newMinuta.existe || minuta != undefined && minuta.length > 0 && minuta[0].aprobada}">
        </div>

        <div class="step" [ngClass]="{
            'in-progress': newMinuta.existe && minuta != undefined && minuta.length> 0 && minuta[0].aprobada == null,
            'completed': (newMinuta.existe && minuta != undefined && minuta.length> 0 && minuta[0].aprobada) || minuta != undefined && minuta.length > 0 && minuta[0].documentos.length > 0
          }">
            <div class="circle">3</div>
            <div class="label">Validación de Minuta</div>
            <div class="labelRes">Responsable</div>
            <div class="labelResPer">Analista de evaluación del desempeño</div>

        </div>
        <div class="line"
            [ngClass]="{'completed-line': (newMinuta.existe && minuta != undefined && minuta.length> 0 && minuta[0].aprobada) || minuta != undefined && minuta.length > 0 && minuta[0].documentos.length > 0}">
        </div>

        <div class="step" [ngClass]="{
            'in-progress': newMinuta.existe && minuta != undefined && minuta.length > 0 && minuta[0].aprobada && minuta[0].documentos.length == 0,
            'completed': newMinuta.existe && minuta != undefined && minuta.length > 0 && minuta[0].aprobada && minuta[0].documentos.length > 0
          }">
            <div class="circle">4</div>
            <div class="label">Documentación</div>
            <div class="labelRes">Responsable</div>
            <div class="labelResPer">{{userLogged.Firstname | titlecase }} {{userLogged.Lastname | titlecase }}</div>
        </div>
        <div class="line"
            [ngClass]="{'completed-line': newMinuta.existe && minuta != undefined && minuta.length> 0 && minuta[0].aprobada && minuta[0].documentos.length > 0}">
        </div>

        <div class="step" 
            [ngClass]="{'completed': newMinuta.existe && minuta != undefined && minuta.length > 0 && minuta[0].aprobada && minuta[0].documentos.length > 0}">
            <div class="circle">5</div>
            <div class="label">Completada</div>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: space-between; gap: 20px; margin: 5px 0 0 0;">

    <div style="display: flex; gap : 10px">
        <mat-form-field appearance="fill" *ngIf="selectGroup == false || rolActivo == 'Analista' ">
            <mat-label>Buscar colaborador</mat-label>
            <input matInput [(ngModel)]="filter" (input)="getSupervisorWithSubordinates(true)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div
            *ngIf="userLogged.RecintoSigla == 'REC' && selectGroup == false || userLogged.RecintoSigla == 'REC' && rolActivo == 'Analista'">

            <mat-form-field appearance="fill">
                <mat-label>Recintos</mat-label>
                <mat-select [(ngModel)]="recinto" (selectionChange)="filterByRecinto()">
                    <mat-option value="">Todos</mat-option>
                    <mat-option value="fem">FEM</mat-option>
                    <mat-option value="eph">EPH</mat-option>
                    <mat-option value="emh">EMH</mat-option>
                    <mat-option value="um">UM</mat-option>
                    <mat-option value="jvm">JVM</mat-option>
                    <mat-option value="lnnm">LNNM</mat-option>
                    <mat-option value="rec">REC</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div style="display: flex; gap : 10px; align-items: center;"
        *ngIf="selectGroup == false || newMinuta != undefined && selectGroup && newMinuta.existe == false">

        <div class="countContainer">
            <mat-icon style=" color: green;">check</mat-icon> &nbsp;
            <h4 style="margin-bottom: 2px;  color: green;">{{evaluationCompetenciesCount.tienen}} Realizados.</h4>
        </div>

        <div class="countContainer">
            <mat-icon style=" color: #f44336;">close</mat-icon>
            <h4 style="margin-bottom: 2px; color: #f44336;">{{evaluationCompetenciesCount.noTienen}} Faltantes.</h4>
        </div>

        <div class="countContainer" *ngIf="selectGroup == false || rolActivo == 'Analista' ">
            <button (click)="openModalviewMissingCollaborators()" mat-stroked-button> Ver colaboradores
                faltantes.</button>
        </div>
    </div>
</div>

<div class="table-container" [style]="selectGroup && rolActivo != 'Analista' ? 'margin-top: 10px': 'margin-top: -10px' ">
    <table>
        <thead class="headerTable">
            <tr class="headerRow">
                <th class="headerCell">Nombre</th>
                <th class="headerCell">Unidad organizativa</th>
                <th class="headerCell">Cargo</th>
                <th class="headerCell">Recinto</th>
                <th class="headerCell">
                    <div style="display: flex; justify-content: center;">
                        G. Ocupacional
                    </div>
                </th>
                <th class="headerCell" style="width: 5%;"></th>
                <th class="headerCell" style="width: 7%; padding-right: 15px;">
                    <div class="loader" *ngIf="!supervisorWithSubordinates || charge"></div>
                </th>
            </tr>
        </thead>
        <tbody
            *ngIf="supervisorWithSubordinates && supervisorWithSubordinates.length > 0 || evaluationsCompetencies && evaluationsCompetencies.length > 0; else noElements">
            <tr class="dataRow" *ngFor="let subordinate of supervisorWithSubordinates">
                <td class="dataIndiCell">{{subordinate.nombre | titlecase}} {{subordinate.apellidos | titlecase}}</td>
                <td class="dataIndiCell">
                    <ng-container *ngIf="appHelper.getUnitOrg(
                            subordinate.division,
                            subordinate.departamento,
                            subordinate.direccion,
                            subordinate.viceRectoria
                          ).nombre !== 'Unidad organizativa no asignada'; else noUnidad">
                        <span [matTooltip]="appHelper.getUnitOrg(
                                subordinate.division,
                                subordinate.departamento,
                                subordinate.direccion,
                                subordinate.viceRectoria
                                ).nombre | titlecase">
                            {{
                            appHelper.getUnitOrg(
                            subordinate.division,
                            subordinate.departamento,
                            subordinate.direccion,
                            subordinate.viceRectoria
                            ).nombre | titlecase
                            }}
                        </span>
                    </ng-container>

                    <ng-template #noUnidad>
                        <span class="badge-red" matTooltip="Validar que el usuario tenga unidad organizativa asignada.">
                            <mat-icon matSuffix style="margin-right: 5px;">warning</mat-icon> Unidad organizativa no
                            encontrada.</span>
                    </ng-template>
                </td>
                <td class="dataIndiCell">{{subordinate.cargo.nombre}}</td>
                <td class="dataIndiCell">{{subordinate.recinto.siglas | uppercase}}</td>
                <td class="dataIndiCell">
                    <div style="display: flex; justify-content: center;">
                        {{subordinate.grupoObj.nombre}}
                    </div>
                </td>
                <td class="dataIndiCell"></td>
                <td *ngIf="activeProcess != undefined; else noCreate" class="dataIndiCell"><mat-icon
                        matTooltip="Crear evaluación de competencia."
                        [routerLink]="['/layout/evaluacion-competencias/evaluacion-competencia-persona']"
                        [queryParams]="{ colaboradorId: subordinate.idPersona, type: 1 }"
                        class="editIcon">add</mat-icon>
                </td>
                <ng-template #noCreate>
                    <td style="color: rgba(255, 0, 0, 0.678);" class="dataIndiCell">
                        <h5>Periodo no disponible.</h5>
                    </td>
                </ng-template>
            </tr>
            <tr class="dataRow" *ngFor="let subordinateEvaluation of evaluationsCompetencies">
                <td class="dataIndiCell">{{subordinateEvaluation.colaborador.nombres | titlecase}}
                    {{subordinateEvaluation.colaborador.apellidos | titlecase}}</td>
                <td class="dataIndiCell">
                    <ng-container *ngIf="subordinateEvaluation.unidadOrg != null; else noUnidad">
                        <span [matTooltip]="subordinateEvaluation.unidadOrg | titlecase">
                            {{subordinateEvaluation.unidadOrg | titlecase}}
                        </span>
                    </ng-container>

                    <ng-template #noUnidad>
                        <span class="badge-red" matTooltip="Validar que el usuario tenga unidad organizativa asignada.">
                            <mat-icon matSuffix style="margin-right: 5px;">warning</mat-icon> Unidad organizativa no
                            encontrada.</span>
                    </ng-template>
                </td>
                <td class="dataIndiCell">{{subordinateEvaluation.cargo}}</td>
                <td class="dataIndiCell">{{subordinateEvaluation.colaborador.recinto | uppercase}}</td>
                <td class="dataIndiCell">
                    <div style="display: flex; justify-content: center;">
                        {{subordinateEvaluation.grupoOcupacional}}
                    </div>
                </td>

                <td class="dataIndiCell">
                    <mat-icon matTooltip="Ver evaluación de competencia."
                        (click)="openModalviewEvaluation(subordinateEvaluation.colaborador.personaIntranetId)"
                        class="listIcon">description
                    </mat-icon>
                </td>

                <td *ngIf=" newMinuta != undefined && newMinuta.existe == false && selectGroup && rolActivo != 'Analista' && activeProcess != undefined; else calificated"
                    class="dataIndiCell"><mat-icon matTooltip="Editar evaluación de competencia."
                        [routerLink]="['/layout/evaluacion-competencias/evaluacion-competencia-persona']"
                        [queryParams]="{ colaboradorId: subordinateEvaluation.colaborador.personaIntranetId, type: 1  }"
                        class="editIcon">edit</mat-icon>

                </td>

                <ng-template #calificated>
                    <td class="dataIndiCell" *ngIf="selectGroup && rolActivo != 'Analista' ">
                        <div style="display: flex; align-items: end; color: green;">
                            <mat-icon>check</mat-icon>
                            <h5 style="margin-bottom: 3px;">Calificado.</h5>
                        </div>
                    </td>

                    <td class="dataIndiCell"
                        *ngIf="rolActivo == 'Analista' || selectGroup == false && rolActivo == 'Encargado' ">

                        <div class="calificado-container">
                            <div class="calificado-texto">
                                <mat-icon>check</mat-icon>
                                <h5>Calificado.</h5>
                            </div>

                            <mat-icon class="more-icon" [matMenuTriggerFor]="menu" matTooltip="Listado de opciones.">
                                more_vert
                            </mat-icon>

                            <mat-menu #menu="matMenu">
                                <div class="ItemMiniMenu eliminarHover"
                                    (click)="deleteCompetency(subordinateEvaluation.colaborador.personaIntranetId)">
                                    <mat-icon class="removeIcon">delete</mat-icon>
                                    <h4>Eliminar</h4>
                                </div>
                            </mat-menu>
                        </div>
                    </td>
                </ng-template>

            </tr>
        </tbody>

        <tfoot *ngIf="pagination && pagination.totalPage">
            <tr class="paginatorRow">
                <ng-container *ngFor="let td of [1, 2, 3, 4, 5]">
                    <td class="dataIndiCell"></td>
                </ng-container>
                <td class="paginationCell"> <span style="color: #888;">{{pagination.totalItem}} Items</span></td>
                <td class="paginationCell">
                    <span style="display: flex; align-items: center;" *ngIf="pagination.totalPage > 1">
                        <mat-icon class="rowIcon" matTooltip="Pagina anterior."
                            (click)="previousPage()">navigate_before</mat-icon>
                        <h5 style="margin: 0;">{{page}} / {{pagination.totalPage}}</h5>
                        <mat-icon class="rowIcon" matTooltip="Pagina siguiente."
                            (click)="nextPage()">navigate_next</mat-icon>
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
    <br>

    <div *ngIf="newMinuta != undefined && selectGroup && supervisorWithSubordinates.length == 0 && evaluationsCompetencies.length > 0 && newMinuta.existe == false && rolActivo != 'Analista'"
        style="display: flex; justify-content: end;">
        <button [routerLink]="['/layout/evaluacion-competencias/minuta']" [queryParams]="{ typeMinuta: 2 }"
            class="saveButton">Crear Minuta</button>
    </div>

    <div style="display: flex; justify-content: end;" >
        <!-- <button class="saveButton" > Ver mi evaluación</button> -->
        <!-- &nbsp; -->
        <button *ngIf="rolActivo != 'Analista' && newMinuta != undefined && selectGroup && newMinuta.existe && charge == false " class="saveButton"
            (click)="openModalTemplateMinuta()">
            Ver Minuta
        </button> &nbsp;

        <ng-container *ngIf="rolActivo != 'Analista' && newMinuta != undefined && selectGroup && newMinuta.existe && charge == false">
            <button class="saveButton" (click)="openModalListadoDocumentos()" [disabled]="!minuta[0].aprobada"
                matTooltip="En espera de la revisión de la minuta. Debe ser aprobada antes de subir el documento."
                [matTooltipDisabled]="minuta[0].aprobada">

                <ng-container *ngIf="newMinuta != undefined">
                    {{ newMinuta.docCargado == false ? "Subir Documento de Minuta Firmada" : "Documento de Minuta"
                    }}
                </ng-container>
            </button>
        </ng-container>

    </div>

    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell"
                    *ngIf="supervisorWithSubordinates && supervisorWithSubordinates.length == 0 && evaluationsCompetencies && evaluationsCompetencies.length == 0; else searching">
                    No hay elementos que mostrar.</td>
                <ng-template #searching>
                    <td class="dataIndiCell">Buscando elementos.</td>
                </ng-template>
                <ng-container *ngFor="let td of [1, 2, 3, 4, 5, 6]">
                    <td class="dataIndiCell"></td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>


</div>