.calificado-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calificado-texto {
    display: flex;
    align-items: center;
    gap: 4px;
    color: green;
}

.more-icon {
    display: none;
    /* oculto por defecto */
    cursor: pointer;
}

/* Al hacer hover: oculta "Calificado" y muestra el more_vert */
.calificado-container:hover .calificado-texto {
    display: none;
}

.calificado-container:hover .more-icon {
    display: inline-flex;
}

.countContainer {
    display: flex;
    /* margin-top: 8px; */
    align-items: end;
}
