.staticInfoContainer,
.competencia,
.evaluacionComportamientoContainer,
.comportamiento {
    width: 100%;
    padding: 15px;
    min-height: 100px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    background-color: #fff;
    margin-top: 10px;
}

.spanSeparation {
    display: flex;
    gap: 2px;
    flex-direction: column;
}
