
<div class="fuctionContent">
  <div class="title">
    <h1>Acuerdo de Desempeño</h1>
  </div>
  <div>
    <button type="submit" class="btnNavegar"
    [routerLink]="[{ outlets: { 'acuerdos': ['miacuerdo']}}]" routerLinkActive="active"
    >Mi Acuerdo de Desempeño</button> &nbsp;
  </div>
</div>
<div class="filters">
  <mat-form-field appearance="fill" style="width: 300px;">
    <mat-label>Buscar</mat-label>
    <input matInput [(ngModel)]="searchTerm" (input)="Buscar()"> <!--[(ngModel)]="questionName" (input)="getPregunta()"-->
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="table-container">
  <table>
    <thead class="headerTable">
      <tr class="headerRow">
        <th class="headerCell">Nombre</th>
        <th class="headerCell">Unidad organizativa</th>
        <th class="headerCell">Cargo</th>
        <th class="headerCell">Grupo ocupacional</th>
        <th class="headerCell">Estado</th>
        <!-- <th class="headerCell" style="width: 2%;"></th> -->
        <th class="headerCell" style="width: 2%;">
        <!-- <th class="headerCell" style="width: 2%;"> -->
        <!-- <th class="headerCell" style="width: 2%;"> -->
          <div *ngIf="isLoading ===  true" class="loader" ></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="dataRow" *ngFor="let acuerdo of agreement">
        <td class="dataIndiCell">{{acuerdo.colaboradorObj.nombre}} {{acuerdo.colaboradorObj.apellidos}}</td>
        <td class="dataIndiCell">{{acuerdo.colaboradorObj.departamento.nombre}}</td>
        <td class="dataIndiCell">{{acuerdo.colaboradorObj.cargo.nombre}}</td>
        <td class="dataIndiCell">{{acuerdo.colaboradorObj.grupoObj.nombre}}</td>
        <td class="dataIndiCell">Proceso de {{acuerdo.flujoObj.nombre}}</td>
        <td class="dataIndiCell">
          <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openModalListadoDocumentos(acuerdo.colaboradorObj.idPersona, acuerdo.colaboradorObj.nombre, acuerdo.colaboradorObj.apellidos)"><mat-icon>upload_file</mat-icon>Subir documento.</button>
            <button mat-menu-item [routerLink]="[{ outlets: { 'acuerdos': ['evaluacion',acuerdo.colaboradorObj.idPersona]}}]" routerLinkActive="active"><mat-icon>done_outline</mat-icon>Evaluar AD.</button>
            <button mat-menu-item (click)="openModalVerAcuerdo(acuerdo.colaboradorObj.idPersona)"><mat-icon>description</mat-icon> Ver AD.</button>
            <button mat-menu-item [routerLink]="[{ outlets: { 'acuerdos': ['editar',acuerdo.colaboradorObj.idPersona]}}]" routerLinkActive="active"><mat-icon>edit</mat-icon>Editar AD.</button>
            <button mat-menu-item (click)="commentsAgreement(acuerdo.comentarios, acuerdo.idAcuerdo)"><mat-icon>comment</mat-icon>Comentarios.</button>
            <!-- <button mat-menu-item (click)="openModalVerAcuerdo(acuerdo.colaboradorObj.idPersona)"><mat-icon>check_small</mat-icon>Validar AD.</button> -->
            <button mat-menu-item (click)="openAuthorizationAction(acuerdo.colaboradorObj.idPersona, acuerdo.colaboradorObj.nombre, acuerdo.colaboradorObj.apellidos)"><mat-icon>lock_open</mat-icon>Autorizar acción.</button>
          </mat-menu>
        </td>
          
          <!-- <mat-icon class="listIcon" *ngIf="acuerdo.idAcuerdo"
          (click)="openModalListadoDocumentos(acuerdo.colaboradorObj.idPersona, acuerdo.colaboradorObj.nombre, acuerdo.colaboradorObj.apellidos)">upload_file</mat-icon></td>
        <td class="dataIndiCell">
          <mat-icon class="listIcon" *ngIf="acuerdo.idAcuerdo"
          [routerLink]="[{ outlets: { 'acuerdos': ['evaluacion',acuerdo.colaboradorObj.idPersona]}}]" routerLinkActive="active">done_outline</mat-icon></td>
        <td class="dataIndiCell">
          <mat-icon class="listIcon" *ngIf="acuerdo.idAcuerdo"
          (click)="openModalVerAcuerdo(acuerdo.colaboradorObj.idPersona)">description</mat-icon></td>
        <td class="dataIndiCell">
          <mat-icon class="editIcon" *ngIf="acuerdo.idAcuerdo"
            [routerLink]="[{ outlets: { 'acuerdos': ['editar',acuerdo.colaboradorObj.idPersona]}}]" routerLinkActive="active">edit</mat-icon>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>

<div style="display: flex; justify-content: end;">
  <button [routerLink]="[{ outlets: { 'acuerdos': ['minuta']}}]" routerLinkActive="active" class="saveButton">Realizar Minuta</button>
</div>

