<div class="fuctionContent">
  <div class="title">
    <h1>Acuerdo de Desempeño</h1>
  </div>
  <div>
    <button type="submit" class="btnNavegar"
    [routerLink]="[{ outlets: { 'acuerdos': ['miacuerdo']}}]" routerLinkActive="active"
    >Mi Acuerdo de Desempeño</button> &nbsp;
  </div>
</div>
<div class="filters">
  <mat-form-field>
    <mat-label>Localidad</mat-label>
    <mat-select>
      <mat-option>Tegcnologia</mat-option>
    </mat-select>
  </mat-form-field> &nbsp;
  <mat-form-field>
    <mat-label>Unidad organizativa</mat-label>
    <mat-select>
      <mat-option>Tegcnologia</mat-option>
    </mat-select>
  </mat-form-field> &nbsp;

  <mat-form-field appearance="fill">
    <mat-label>Filtrar</mat-label>
    <input matInput> <!--[(ngModel)]="questionName" (input)="getPregunta()"-->
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="table-container">
  <table>
    <thead class="headerTable">
      <tr class="headerRow">
        <th class="headerCell">Nombre</th>
        <th class="headerCell">Unidad organizativa</th>
        <th class="headerCell">Cargo</th>
        <th class="headerCell">Grupo ocupacional</th>
        <th class="headerCell" style="width: 2%;"></th>
        <th class="headerCell" style="width: 2%;">
        <th class="headerCell" style="width: 2%;">
        <th class="headerCell" style="width: 2%;">
          <!-- <div class="loader"></div> -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="dataRow">
        <td class="dataIndiCell">Item 1</td>
        <td class="dataIndiCell">Item 1</td>
        <td class="dataIndiCell">Item 1</td>
        <td class="dataIndiCell">001</td>
        <td class="dataIndiCell"><mat-icon class="listIcon">upload_file</mat-icon></td>
        <td class="dataIndiCell"><mat-icon class="listIcon">done_outline</mat-icon></td>
        <td class="dataIndiCell"><mat-icon class="listIcon">description</mat-icon></td>
        <td class="dataIndiCell"><mat-icon class="editIcon"
            [routerLink]="[{ outlets: { 'plan-de-mejora': ['formulario']}}]" routerLinkActive="active">edit</mat-icon>
        </td>
      </tr>
      <tr class="dataRow">
        <td class="dataIndiCell">Item 2</td>
        <td class="dataIndiCell">Item 2</td>
        <td class="dataIndiCell">Item 2</td>
        <td class="dataIndiCell">002</td>
        <td class="dataIndiCell"><mat-icon class="listIcon">upload_file</mat-icon></td>
        <td class="dataIndiCell"><mat-icon class="listIcon">done_outline</mat-icon></td>
        <td class="dataIndiCell"><mat-icon class="listIcon">description</mat-icon></td>
        <td class="dataIndiCell"><mat-icon class="editIcon"
            [routerLink]="[{ outlets: { 'plan-de-mejora': ['formulario']}}]" routerLinkActive="active">edit</mat-icon>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="paginatorRow">
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell"></td>
        <td class="dataIndiCell">
          <!-- Placeholder para paginación -->
        </td>
        <td class="dataIndiCell">
          <span style="display: flex; align-items: center;">
            <mat-icon class="">navigate_before</mat-icon>
            <h5 style="margin: 0;"></h5>
            <mat-icon class="">navigate_next</mat-icon>
          </span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
