button.cancel-button {
  color: red;
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin: -40px 10px 10px 0px;

}

.table-container {
  flex-grow: 1;
  /* height:  240px; */
  overflow-y: auto; /* Permite que solo la lista de colaboradores haga scroll */
  max-height:  240px; /* Ajusta el alto máximo de la lista */
}

::ng-deep .colaboradores-list::-webkit-scrollbar {
  width: 14px;
}

::ng-deep .colaboradores-list::-webkit-scrollbar-track {
  background: #edf2fa;
}

::ng-deep .colaboradores-list::-webkit-scrollbar-thumb {
  background-color: #004b8d;
  border-radius: 5px;
  border-left: 8px solid #edf2fa;
}

::ng-deep .colaboradores-list::-webkit-scrollbar-thumb:hover {
  background-color: #003366;
}
