/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

:root {
    @include mat.menu-overrides((container-shape: 5px, // ejemplo: border-radius
            divider-color: red,
            container-color: white,
        ));
}


@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
    font-family: 'Montserrat', sans-serif;
}

/*/////////////////////////////
        General Styles
/////////////////////////////*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}

/*/////////////////////////////
        Titles Styles
/////////////////////////////*/

.title {
    height: 4.5vh;
    display: flex;
    font-size: 12px;
    padding: 0 15px;
    margin-bottom: 10px;
    align-items: center;
    background-color: #eee;
    border-left: #004b8d 4px solid;
    border-radius: 0 18.5px 18.5px 0;
}

.Stitle {
    color: #004b8d;
}


/*/////////////////////////////
        Button Styles
/////////////////////////////*/

.saveButton,
.cleanButton,
.btnCerrar {
    color: #004b8d;
    border: #004b8d solid 1px;
    background-color: white;
    border-radius: 5px;
    height: 35px;
    padding: 0 20px;
    cursor: pointer;
    -webkit-text-stroke: 0.5px #004b8d;
    font-family: 'Montserrat', sans-serif;
}

.btnNavegar {
    color: #4CAF50;
    border: #4CAF50 solid 1px;
    background-color: white;
    border-radius: 5px;
    height: 35px;
    padding: 0 20px;
    cursor: pointer;
    -webkit-text-stroke: 0.5px #4CAF50;
    font-family: 'Montserrat', sans-serif;
}

.btnInfo {
    color: #004b8d;
    border: #004b8d solid 1px;
    background-color: white;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    -webkit-text-stroke: 0.5px #004b8d;
}

.cleanButton,
.btnCerrar {
    color: red;
    border: red solid 1px;
    -webkit-text-stroke: 0.5px red;
}

.backButton,
.backIcon {
    color: #565656 !important;
}

.saveButton:hover,
.cleanButton:hover,
.btnCerrar:hover,
.btnInfo:hover,
.btnNavegar:hover,
.backButton:hover {
    background-color: #efefef;
}

.btnImprimir {
    display: flex !important;
    align-items: center !important;
}


/*/////////////////////////////
        Tables Styles
/////////////////////////////*/

.table-container {
    width: 100%;
    margin: 20px 0;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.headerTable {
    background-color: #f0f0f0;
    text-align: left;
}

.headerRow {
    background-color: #e9ecef;
}

.headerCell,
.headerCellArrows {
    padding: 12px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
}

.headerCellArrows {
    padding-left: 0;
    padding-right: 5px
}

.dataCell,
.dataIndiCell,
.paginationCell {
    background-color: #f9f9f9;
}

.footerCell {
    font-weight: 500;
    padding-left: 15px;
}

.dataIndiCell {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataIndiCell,
.paginationCell {
    padding: 12px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid #ddd;
}

.paginationCell {
    padding: 8px 0;

}

.dataRow:nth-child(even) .dataIndiCell {
    background-color: #f4f4f4;
}

.paginatorRow {
    height: 4vh;
}

.footerRow {
    border-top: 2px solid #004b8d2a;
    border-bottom: 2px solid #004b8d2a;
}

.loader {
    width: 20px;
    height: 20px;
    border: 3px solid #ddd;
    border-top: 3px solid #004b8d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loaderMother {
    display: flex;
    justify-items: center;
    width: 70px;
    height: 70px;
    border: 5px solid #ddd;
    border-top: 5px solid #004b8d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading-text {
    font-size: 17px;
    color: #121212;
    display: flex;
    justify-items: center;
}

.container-loaderMother {
    display: grid;
    justify-content: center;
    justify-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**/


/*/////////////////////////////
        Icons Styles
/////////////////////////////*/

.editIcon,
.removeIcon,
.listIcon {
    color: #4CAF50;
    cursor: pointer;
    transition: color 0.3s ease;
}

.editIcon:hover {
    color: #388E3C;
}

.removeIcon {
    color: #F44336;
}

.removeIcon:hover {
    color: #D32F2F;
}

.listIcon {
    color: #004b8d;
}

.listIcon:hover {
    color: #002c52;
}

.rowIcon {
    cursor: pointer;
    color: #888;
}

.rowIcon:hover {
    color: black;
}

/*/////////////////////////////
        Components Styles
/////////////////////////////*/

.modal {
    padding: 20px;
}

.badge-red {
    display: flex;
    align-items: center;
    color: red;
    border-radius: 10px;
}

.menuOptionsItem {
    display: flex;
    gap: 10px;
    padding: 10px 7px;
    cursor: pointer;
}

.menuOptionsItem:hover {
    background-color: #eee;
}

.menuOptionsItemEliminar {
    color: red;
}

.menuOptionsItemEliminar:hover {
    color: white;
    background-color: rgb(255, 71, 71);
}

.tag {
    padding: 6px 12px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}

.tag h4 {
    color: white;
    margin: 0;
    font-size: 14px;
}

.pendiente {
    background-color: #9e9e9e;
    /* gris */
}

.aceptada {
    background-color: #4caf50;
    /* verde */
}

.rechazada {
    background-color: #ff7043;
    /* rojo anaranjado */
}

/*/////////////////////////////
        Others Styles
/////////////////////////////*/

.ItemMiniMenu {
    width: 195px;
    padding: 5px;
    margin: 0 5px 5px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.ItemMiniMenu:hover {
    background-color: #edf2fa;
}

.eliminarHover:hover {
    background-color: rgb(255, 211, 211);
}

.editarHover:hover {
    background-color: rgba(95, 253, 95, 0.345);
}

.fuctionContent {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    // padding: 10px 0 15px 0;
}

.filters {
    display: flex;
    justify-content: end;
    margin-top: -15px !important;
    /* align-items: center; */
}

.matRadioChoice {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* grid-template-columns: 240px auto; */
    /* width: 800px; */
}

.matRadioChoice h4 {
    margin: 0;
}

.empty-list {
    text-align: center;
}

.empty-list img {
    max-width: 550px;
}

.empty-list p {
    font-size: 1.2rem;
    color: #555;
}

.no-record {
    text-align: center;
    height: 30px;
}

.staticInfoContainer {
    width: 100%;
    padding: 15px;
    min-height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #e9ecef;
    margin-top: 10px;
}

.staticInfoContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}

.staticInfoContainer h4 {
    font-size: 14px;
}

.staticInfoContainer h3 {
    margin-bottom: 2px;
    font-size: 17px;
    // font-weight: 600;
    -webkit-text-stroke: 0.50px black;
}


/////////////////// stepper 

.stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0 15px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
    min-height: 120px;
    max-height: 120px;
}

.circle {
    width: 35px;
    height: 35px;
    min-height: 35px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: white;
    font-size: 14px;
    position: relative;
    z-index: 1;
    transition: background 0.5s ease, border-color 0.5s ease, transform 0.5s ease;
}

.label,
.labelRes,
.labelResPer {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.labelRes {
    font-size: 12px;
}

.labelResPer {
    margin-top: 0;
    font-size: 13px;
    font-weight: 600;
}

.line {
    height: 2px;
    background-color: #ddd;
    flex: 1;
    margin: -60px -75px 0 -75px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.completed .circle {
    background: #28a745;
    border-color: #28a745;
    transform: scale(1.2);
    animation: pop 0.4s ease forwards;
}

.completed-line {
    background: #28a745;
    animation: fillLine 1s ease forwards;
}

.in-progress .circle {
    background: #ffc107;
    border-color: #ffc107;
    transform: scale(1.2);
    animation: pulse 1.5s infinite;
}



/* --- Keyframes --- */
@keyframes fillLine {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 193, 7, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 193, 7, 0);
    }
}

@keyframes pop {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}