<h2 class="Stitle">Asignación de competencias</h2>
<div>
    <form style=" margin: 15px 0 35px 0" [formGroup]="asignationCompetencyForm" (ngSubmit)="saveChanges()">
        <div style="display: flex;">
            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Grupo Ocupacional</mat-label>
                <mat-select formControlName="idGrupo" disableRipple>
                    <ng-container *ngIf="ocupationalGroup && ocupationalGroup.length; else noOcupationalGroup">
                        <mat-option [value]="ocupational.idGrupo" *ngFor="let ocupational of ocupationalGroup">
                            {{ocupational.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noOcupationalGroup>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Competencias</mat-label>
                <mat-select formControlName="idCompetencia" disableRipple
                    (selectionChange)="getCompetencyById($event.value)">
                    <ng-container *ngIf="competencies && competencies.length; else noCompetency">
                        <mat-option [value]="competency.idCompetencia" *ngFor="let competency of competencies">
                            {{competency.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noCompetency>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="flex: 1">
                <mat-label>Grado</mat-label>
                <mat-select formControlName="idGrado" disableRipple>
                    <ng-container *ngIf="gradesTypes && gradesTypes.length; else noGrades">
                        <mat-option [value]="grade.idGrado" *ngFor="let grade of gradesTypes">
                            {{grade.tipoGradoObj.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noGrades>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field><br>
        </div>

        <button type="submit" class="saveButton">Guardar cambios</button> &nbsp;
        <button type="button" class="cleanButton" (click)="asignationCompetencyForm.reset()"
            *ngIf="asignationCompetencyForm.value.idAsignacion">Limpiar edición</button>

    </form>

    <h3 class="Stitle">Listado de Asignaciones de competencias</h3>

    <div class="table-container">
        <table>
            <thead class="headerTable">
                <tr class="headerRow">
                    <th class="headerCell">Grupo ocupacional</th>
                    <th class="headerCell">Competencia</th>
                    <th class="headerCell">Grado</th>
                    <th class="headerCell" style="width: 5%;"></th>
                    <th class="headerCell" style="width: 7%; padding-right: 15px;">
                        <div class="loader" *ngIf="!asignationCompetencies"></div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="asignationCompetencies && asignationCompetencies.length > 0; else noElements">
                <tr class="dataRow" *ngFor="let asignationCompetency of asignationCompetencies">
                    <td class="dataIndiCell"> Grupo {{asignationCompetency.grupoOcupacionlObj.nombre}}</td>
                    <td class="dataIndiCell">{{asignationCompetency.competenciaObj.nombre}}</td>
                    <td class="dataIndiCell">{{asignationCompetency.gradoObj.tipoGradoObj.nombre}}</td>
                    <td class="dataIndiCell"><mat-icon (click)="setValueToEdit(asignationCompetency)"
                            class="editIcon">edit</mat-icon></td>
                    <td class="dataIndiCell"><mat-icon
                            (click)="deleteAsignationCompetency(asignationCompetency.idAsignacion)"
                            class="removeIcon">delete</mat-icon></td>
                </tr>
            </tbody>
            <tfoot *ngIf="pagination && pagination.totalPage">
                <tr class="paginatorRow" >
                    <ng-container *ngFor="let td of [1, 2, 3]">
                        <td class="dataIndiCell"></td>
                    </ng-container>
                    <td class="paginationCell"><span style="color: #888;">{{pagination.totalItem}} Items</span></td>
                    <td class="paginationCell">
                        <span style="display: flex; align-items: center;">
                            <mat-icon class="rowIcon" (click)="previousPage()">navigate_before</mat-icon>
                            <h5 style="margin: 0;">{{page}} / {{pagination.totalPage}}</h5>
                            <mat-icon class="rowIcon" (click)="nextPage()">navigate_next</mat-icon>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <ng-template #noElements>
        <tbody>
            <tr class="dataRow">
                <td class="dataIndiCell">No hay elementos que mostrar.</td>
                <ng-container *ngFor="let td of [1, 2, 3, 4]">
                    <td class="dataIndiCell"></td>
                </ng-container>
            </tr>
        </tbody>
    </ng-template>
</div>